/* Konrad Maciejczyk, 2021-2022 */
* {
  margin: 0px;
  padding: 0px;
}

::selection {
  background-color: #194973;
  color: white;
}

html, body {
  background-color: #e6f0f5;
  color: white;
  background: url(../img/background_light.png);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
  color: white;
  transition: color 0.4s;
}
a:hover {
  color: #F8D872;
}
.path {
  margin: 10px 0px 0px 10px;
  color: #194973;
}
.path a {
  text-decoration: underline;
  color: #194973;
}

input[type=submit] {
  display: block;
  float: right;
  margin: 50px auto 0px auto;
  background-color: #194973;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  opacity: 0.2;
  pointer-events: none;
}
input[type=submit]:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px -10px #194973;
  -moz-box-shadow: 0px 0px 30px -10px #194973;
  box-shadow: 0px 0px 30px -10px #194973;
}

textarea {
  font-size: 14px;
}

input[type=date] {
  background: white;
  border: 0;
  border-bottom: 2px solid silver;
  transition: border-bottom 0.5s;
  width: 300px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-bottom: 2px;
}
input[type=date]:focus {
  border-bottom: 2px solid #194973;
}

input[type=text], input[type=password] {
  border: 0px;
  background-color: white;
  box-sizing: border-box;
}

input[type=checkbox] {
  width: 12px;
  height: 12px;
  background-color: white;
  border-color: #194973;
  border-radius: 20%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #194973;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-color: #194973;
}

input[type=radio] {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #194973;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=radio]:checked {
  background-color: #194973;
}

select {
  border: 0;
  border-bottom: 2px solid silver;
  transition: border-bottom 0.5s;
  width: 200px;
  padding-bottom: 2px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

label {
  display: inline-block;
  white-space: nowrap;
}
label:hover {
  cursor: pointer;
}

fieldset {
  border: 0px;
}

.op_status {
  box-sizing: border-box;
  color: white;
  width: 800px;
  text-align: center;
  margin: 10px auto 10px auto;
  padding: 10px 0 10px 0;
  border-radius: 3px;
}
.op_status i {
  margin-right: 20px;
}

.op_status.success {
  background-color: #10b346;
  border: 2px solid #0c8434;
}

.op_status.error {
  background-color: #b31010;
  border: 2px solid #840c0c;
}

header {
  height: 60px;
}

#logo {
  height: 60px;
  width: 130px;
  padding: 5px;
  font-size: 13px;
}
#logo img {
  margin-right: 1vw;
  width: 50px;
  height: 50px;
}

#logging {
  height: 50px;
  min-width: 10%;
  margin-right: 2%;
}
#logging #user_status {
  display: block;
  font-size: 10px;
  font-weight: 100;
  width: 100%;
  text-align: right;
}
#logging #log_in_button {
  width: 80px;
  height: 59px;
  font-size: 16px;
  margin-top: 5px;
  transition: color, 0.4s;
}
#logging #log_in_button:hover {
  color: #F8D872;
  cursor: pointer;
}