/* Konrad Maciejczyk, 2021-2022 */
* {
  margin: 0px;
  padding: 0px;
}

::selection {
  background-color: #194973;
  color: white;
}

html, body {
  background-color: #e6f0f5;
  color: white;
  background: url(../img/background_light.png);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
  color: white;
  transition: color 0.4s;
}
a:hover {
  color: #F8D872;
}
.nav {
  margin: 10px 0px 0px 10px;
  color: #194973;
}
.nav a {
  text-decoration: underline;
  color: #194973;
}

input[type=submit] {
  border: 0px;
  background-color: #eeffd7;
}

input[type=text], input[type=password] {
  border: 0px;
  background-color: white;
  box-sizing: border-box;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-color: #F8D872;
}

input[type=radio] {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #194973;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=radio]:checked {
  background-color: #194973;
}

label {
  display: inline-block;
  white-space: nowrap;
}
label:hover {
  cursor: pointer;
}

fieldset {
  border: 0px;
}

.op_status {
  box-sizing: border-box;
  color: white;
  width: 800px;
  text-align: center;
  margin: 10px auto 10px auto;
  padding: 10px 0 10px 0;
  border-radius: 3px;
}
.op_status i {
  margin-right: 20px;
}

.op_status.success {
  background-color: #10b346;
  border: 2px solid #0c8434;
}

.op_status.error {
  background-color: #b31010;
  border: 2px solid #840c0c;
}