/* Konrad Maciejczyk, 2021-2022 */
/* Konrad Maciejczyk, 2021-2022 */
* {
  margin: 0px;
  padding: 0px;
}

::selection {
  background-color: #194973;
  color: white;
}

html, body {
  background-color: #e6f0f5;
  color: white;
  background: url(../img/background_light.png);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
  color: white;
  transition: color 0.4s;
}
a:hover {
  color: #F8D872;
}
.path {
  margin: 10px 0px 0px 10px;
  color: #194973;
}
.path a {
  text-decoration: underline;
  color: #194973;
}

input[type=submit] {
  display: block;
  float: right;
  margin: 50px auto 0px auto;
  background-color: #194973;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  opacity: 0.2;
  pointer-events: none;
}
input[type=submit]:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px -10px #194973;
  -moz-box-shadow: 0px 0px 30px -10px #194973;
  box-shadow: 0px 0px 30px -10px #194973;
}

textarea {
  font-size: 14px;
}

input[type=date] {
  background: white;
  border: 0;
  border-bottom: 2px solid silver;
  transition: border-bottom 0.5s;
  width: 300px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-bottom: 2px;
}
input[type=date]:focus {
  border-bottom: 2px solid #194973;
}

input[type=text], input[type=password] {
  border: 0px;
  background-color: white;
  box-sizing: border-box;
}

input[type=checkbox] {
  width: 12px;
  height: 12px;
  background-color: white;
  border-color: #194973;
  border-radius: 20%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #194973;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-color: #194973;
}

input[type=radio] {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #194973;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=radio]:checked {
  background-color: #194973;
}

select {
  border: 0;
  border-bottom: 2px solid silver;
  transition: border-bottom 0.5s;
  width: 200px;
  padding-bottom: 2px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

label {
  display: inline-block;
  white-space: nowrap;
}
label:hover {
  cursor: pointer;
}

fieldset {
  border: 0px;
}

.op_status {
  box-sizing: border-box;
  color: white;
  width: 800px;
  text-align: center;
  margin: 10px auto 10px auto;
  padding: 10px 0 10px 0;
  border-radius: 3px;
}
.op_status i {
  margin-right: 20px;
}

.op_status.success {
  background-color: #10b346;
  border: 2px solid #0c8434;
}

.op_status.error {
  background-color: #b31010;
  border: 2px solid #840c0c;
}

header {
  height: 60px;
}

#logo {
  height: 60px;
  width: 130px;
  padding: 5px;
  font-size: 13px;
}
#logo img {
  margin-right: 1vw;
  width: 50px;
  height: 50px;
}

#logging {
  height: 50px;
  min-width: 10%;
  margin-right: 2%;
}
#logging #user_status {
  display: block;
  font-size: 10px;
  font-weight: 100;
  width: 100%;
  text-align: right;
}
#logging #log_in_button {
  width: 80px;
  height: 59px;
  font-size: 16px;
  margin-top: 5px;
  transition: color, 0.4s;
}
#logging #log_in_button:hover {
  color: #F8D872;
  cursor: pointer;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  background-color: #194973;
  height: 120px;
  width: 100vw;
}

#logo {
  box-sizing: border-box;
  position: absolute;
  width: 380px;
  height: 120px;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 27px;
  font-weight: 300;
  float: left;
}
#logo img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  float: left;
}
#logo a:hover {
  color: white;
}

#logging {
  position: absolute;
  top: 20%;
  right: 2%;
  box-sizing: border-box;
  font-weight: 300;
}
#logging #user_status {
  display: block;
  font-weight: 100;
  font-size: 20px;
}
#logging #log_in_button {
  float: right;
  text-align: right;
  transition: color, 0.4s;
  margin-top: 10px;
}
#logging #log_in_button:hover {
  color: #F8D872;
  cursor: pointer;
}

.op_status {
  box-sizing: border-box;
  color: white;
  width: 800px;
  text-align: center;
  margin: 10px auto 10px auto;
  background-color: rgba(25, 113, 43, 0.8);
  padding: 10px 0 10px 0;
  border: 2px solid #194871;
  border-radius: 3px;
}

main {
  margin: 50px auto 0 auto;
  width: 800px;
  display: grid;
  grid-template-areas: "search search search" "user1 user2 user3" "item1 item2 item3" "borrow1 borrow2 borrow3";
  column-gap: 10px;
  row-gap: 20px;
}

.notification {
  position: absolute;
  right: 10px;
  background-color: #dc0000;
  border: 2px solid white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 30px;
  font-weight: 700;
}

.option_box {
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  transition: filter 0.4s;
}
.option_box:hover {
  cursor: pointer;
  filter: brightness(130%);
}
.option_box a {
  padding: 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
}
.option_box a:hover {
  color: white;
}

.option_box.borrows:nth-of-type(8) {
  position: relative;
}

.option_box.search {
  grid-area: search;
  background-color: #006E63;
}
.option_box.search i {
  font-size: 50px;
  margin: 20px 0 10px 10px;
}
.option_box.search:hover {
  -webkit-box-shadow: 0px 0px 30px -10px #006E63;
  -moz-box-shadow: 0px 0px 30px -10px #006E63;
  box-shadow: 0px 0px 30px -10px #006E63;
}

.option_box.user {
  background-color: #194871;
}
.option_box.user i {
  margin: 20px 0 10px 10px;
  font-size: 50px;
}
.option_box.user:hover {
  -webkit-box-shadow: 0px 0px 30px -10px #194871;
  -moz-box-shadow: 0px 0px 30px -10px #194871;
  box-shadow: 0px 0px 30px -10px #194871;
}

.option_box.item {
  background-color: #A76C28;
}
.option_box.item i {
  margin: 20px 0 10px 10px;
  font-size: 50px;
}
.option_box.item:hover {
  -webkit-box-shadow: 0px 0px 30px -10px #A76C28;
  -moz-box-shadow: 0px 0px 30px -10px #A76C28;
  box-shadow: 0px 0px 30px -10px #A76C28;
}

.option_box.borrows {
  background-color: #961750;
}
.option_box.borrows i {
  margin: 20px 0 10px 10px;
  font-size: 50px;
}
.option_box.borrows:hover {
  -webkit-box-shadow: 0px 0px 30px -10px #961750;
  -moz-box-shadow: 0px 0px 30px -10px #961750;
  box-shadow: 0px 0px 30px -10px #961750;
}

footer {
  margin-top: auto;
  background-color: #194973;
  text-align: center;
  font-size: 12px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}