/* Konrad Maciejczyk, 2021 */
* {
  margin: 0px;
  padding: 0px;
}

::selection {
  background-color: #194973;
  color: white;
}

html, body {
  background-color: #e6f0f5;
  color: white;
  background: url(../img/background_light.png);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
  color: white;
  transition: color 0.4s;
}
a:hover {
  color: #F8D872;
}
.nav {
  margin: 10px 0px 0px 10px;
  color: #194973;
}
.nav a {
  text-decoration: underline;
  color: #194973;
}

input[type=submit] {
  border: 0px;
  background-color: #FFFFFF;
}

input[type=text], input[type=password] {
  border: 0px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-color: #F8D872;
}

input[type=radio] {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #194973;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=radio]:checked {
  background-color: #194973;
}

label {
  display: inline-block;
  white-space: nowrap;
}
label:hover {
  cursor: pointer;
}

fieldset {
  border: 0px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  background-color: #194973;
  height: 120px;
  width: 100vw;
}

#logo {
  box-sizing: border-box;
  position: absolute;
  width: 380px;
  height: 120px;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 27px;
  font-weight: 300;
  float: left;
}
#logo img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  float: left;
}
#logo a:hover {
  color: white;
}

#logging {
  position: absolute;
  top: 20%;
  right: 2%;
  box-sizing: border-box;
  font-weight: 300;
}
#logging #user_status {
  display: block;
  font-weight: 100;
  font-size: 20px;
}
#logging #log_in_button {
  float: right;
  text-align: right;
  transition: color, 0.4s;
  margin-top: 10px;
}
#logging #log_in_button:hover {
  color: #F8D872;
  cursor: pointer;
}

main {
  width: 100vw;
}
main #box_logging {
  display: none;
  box-sizing: border-box;
  width: 500px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  background-color: #194973;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px -10px #194973;
  -moz-box-shadow: 0px 0px 30px -10px #194973;
  box-shadow: 0px 0px 30px -10px #194973;
  padding-top: 50px;
}
main #box_logging #log_in_sign {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}
main #box_logging input[type=text] {
  display: block;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
main #box_logging input[type=password] {
  display: block;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
main #box_logging input[type=submit] {
  display: block;
  float: right;
  width: 20%;
  height: 40px;
  border-radius: 5px;
  margin-top: 30px;
  margin-right: 100px;
  font-size: 18px;
  transition: background-color 0.4s, color 0.4s;
}
main #box_logging input[type=submit]:hover {
  cursor: pointer;
  color: #F8D872;
}
main #box_logging #go_back_button {
  float: left;
  width: 20%;
  height: 40px;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 100px;
  font-size: 18px;
  text-align: center;
  vertical-align: center;
  line-height: 40px;
  transition: color, 0.4s;
}
main #box_logging #go_back_button:hover {
  cursor: pointer;
  color: #F8D872;
}

footer {
  margin-top: auto;
  background-color: #194973;
  text-align: center;
  font-size: 12px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}

@media (max-width: 800px) {
  main #box_searching {
    height: 330px;
    width: 95vw;
  }
  main #box_searching fieldset {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 600px) {
  header {
    height: 60px;
  }

  #logo {
    height: 60px;
    width: 130px;
    padding: 5px;
    font-size: 13px;
  }
  #logo img {
    margin-right: 1vw;
    width: 50px;
    height: 50px;
  }

  #logging {
    height: 50px;
    min-width: 10%;
    margin-right: 2%;
  }
  #logging #user_status {
    display: block;
    font-size: 10px;
    font-weight: 100;
  }
  #logging #log_in_button {
    width: 80px;
    height: 59px;
    font-size: 16px;
    margin-top: 5px;
    transition: color, 0.4s;
  }
  #logging #log_in_button:hover {
    color: #F8D872;
    cursor: pointer;
  }

  main #box_searching {
    margin-top: 5vh;
    height: 380px;
    width: 95vw;
  }
  main #box_searching #search_tool {
    width: 80vw;
    height: 30px;
  }
  main #box_searching #author_bar {
    width: 80vw;
    margin-left: 8%;
    height: 25px;
  }
  main #box_searching fieldset {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 80vw;
  }
  main #box_logging {
    margin-top: 5vh;
    width: 85vw;
  }
  main #box_logging input[type=text] {
    width: 85%;
    height: 35px;
  }
  main #box_logging input[type=password] {
    width: 85%;
    height: 35px;
  }
  main #box_logging #go_back_button {
    margin-left: 15%;
  }
  main #box_logging input[type=submit] {
    margin-right: 15%;
    width: 80px;
  }
}
/* For styling placeholders and on focus in text inputs*/
input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list]::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list]:-moz-placeholder {
  /*Firefox < 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list]::-moz-placeholder {
  /*Firefox > 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list]:-ms-input-placeholder {
  /*Internet Explorer 10*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list]:focus {
  font-family: "Roboto", sans-serif;
  outline: none;
}

/* For styling placeholders and on focus in password inputs*/
input[type=password]:focus {
  font-family: "Roboto", sans-serif;
  outline: none;
}

input[type=password]::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]:-moz-placeholder {
  /*Firefox < 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]::-moz-placeholder {
  /*Firefox > 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]:-ms-input-placeholder {
  /*Internet Explorer 10*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}