/* Konrad Maciejczyk, 2021-2022 */
* {
  margin: 0px;
  padding: 0px;
}

::selection {
  background-color: #194973;
  color: white;
}

html, body {
  background-color: #e6f0f5;
  color: white;
  background: url(../img/background_light.png);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
  color: white;
  transition: color 0.4s;
}
a:hover {
  color: #F8D872;
}
.path {
  margin: 10px 0px 0px 10px;
  color: #194973;
}
.path a {
  text-decoration: underline;
  color: #194973;
}

input[type=submit] {
  display: block;
  float: right;
  margin: 50px auto 0px auto;
  background-color: #194973;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  opacity: 0.2;
  pointer-events: none;
}
input[type=submit]:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px -10px #194973;
  -moz-box-shadow: 0px 0px 30px -10px #194973;
  box-shadow: 0px 0px 30px -10px #194973;
}

textarea {
  font-size: 14px;
}

input[type=date] {
  background: white;
  border: 0;
  border-bottom: 2px solid silver;
  transition: border-bottom 0.5s;
  width: 300px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-bottom: 2px;
}
input[type=date]:focus {
  border-bottom: 2px solid #194973;
}

input[type=text], input[type=password] {
  border: 0px;
  background-color: white;
  box-sizing: border-box;
}

input[type=checkbox] {
  width: 12px;
  height: 12px;
  background-color: white;
  border-color: #194973;
  border-radius: 20%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #194973;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-color: #194973;
}

input[type=radio] {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #194973;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=radio]:checked {
  background-color: #194973;
}

select {
  border: 0;
  border-bottom: 2px solid silver;
  transition: border-bottom 0.5s;
  width: 200px;
  padding-bottom: 2px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

label {
  display: inline-block;
  white-space: nowrap;
}
label:hover {
  cursor: pointer;
}

fieldset {
  border: 0px;
}

.op_status {
  box-sizing: border-box;
  color: white;
  width: 800px;
  text-align: center;
  margin: 10px auto 10px auto;
  padding: 10px 0 10px 0;
  border-radius: 3px;
}
.op_status i {
  margin-right: 20px;
}

.op_status.success {
  background-color: #10b346;
  border: 2px solid #0c8434;
}

.op_status.error {
  background-color: #b31010;
  border: 2px solid #840c0c;
}

header {
  position: relative;
  background-color: #194973;
  height: 120px;
  width: 100vw;
}

#logo {
  box-sizing: border-box;
  position: absolute;
  width: 225px;
  height: 120px;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 27px;
  font-weight: 300;
  float: left;
}
#logo img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  float: left;
}
#logo a:hover {
  color: #202321;
}

#logging {
  position: absolute;
  top: 20%;
  right: 2%;
  box-sizing: border-box;
  font-weight: 300;
}
#logging #user_status {
  display: block;
  font-weight: 100;
  font-size: 20px;
}
#logging #log_in_button {
  float: right;
  text-align: right;
  transition: color, 0.4s;
  margin-top: 10px;
  transition: color 0.4s;
}
#logging #log_in_button:hover {
  color: #F8D872;
  cursor: pointer;
}

header {
  position: relative;
  background-color: #194973;
  height: 120px;
  width: 100vw;
}

#logo {
  box-sizing: border-box;
  position: absolute;
  width: 380px;
  height: 120px;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 27px;
  font-weight: 300;
  float: left;
}
#logo img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  float: left;
}
#logo a:hover {
  color: white;
}

#logging {
  position: absolute;
  top: 20%;
  right: 2%;
  box-sizing: border-box;
  font-weight: 300;
}
#logging #user_status {
  display: block;
  font-weight: 100;
  font-size: 20px;
}
#logging #log_in_button {
  float: right;
  text-align: right;
  transition: color, 0.4s;
  margin-top: 10px;
}
#logging #log_in_button:hover {
  color: #F8D872;
  cursor: pointer;
}

main {
  width: 1000px;
  min-height: 200px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 30px -10px #194973;
  -moz-box-shadow: 0px 0px 30px -10px #194973;
  box-shadow: 0px 0px 30px -10px #194973;
  padding: 50px;
  margin: 50px auto 0px auto;
  border-radius: 10px;
}

h1 {
  display: block;
  font-weight: 300;
  color: #194973;
  text-align: center;
  margin-bottom: 20px;
}

.search_bar {
  width: 70%;
  height: 50px;
  display: flex;
  margin-left: auto;
  margin: auto;
}
.search_bar input[type=text] {
  flex-grow: 10;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  border: 2px solid #194973;
  box-sizing: border-box;
  padding-left: 2%;
}

label {
  flex-basis: 30%;
  color: #194973;
  margin: 0px 10px 10px 0pxs;
}
label:hover {
  cursor: auto;
}

button {
  display: block;
  background-color: #194973;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin: 10px auto 20px auto;
  font-family: "Roboto", sans-serif;
  color: white;
  border: 0;
  font-weight: 500;
  font-size: 15px;
  transition: filter 0.4s;
}
button:hover {
  cursor: pointer;
  filter: brightness(120%);
}

section .no_results {
  color: #194973;
  display: block;
  font-size: 45px;
  margin: 50px auto 0px auto;
  text-align: center;
}
section .results {
  color: #194973;
  margin-left: 100px;
  font-size: 25px;
}
section .field {
  margin: 25px auto 0px auto;
  display: flex;
  width: 70%;
}
section input[type=text], section input[type=number], section input[type=tel], section textarea, section select {
  flex-basis: 70%;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  border: 2px solid #194973;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 100px;
  width: 600px;
  height: 40px;
  font-size: 15px;
  display: block;
}
section input[type=checkbox] {
  margin-left: 80px;
}
section input[type=date] {
  font-size: 15px;
  display: block;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 100px;
  border-top: 2px solid #194973;
  border-bottom: 2px solid #194973;
  width: 596px;
  height: 40px;
  flex-basis: 65%;
}
section .field:nth-of-type(6) {
  display: flex;
  margin-left: auto;
  margin: auto;
  margin: 25px auto 0px auto;
}
section .field:nth-of-type(6) label {
  flex-basis: 30%;
}
section .field:nth-of-type(6) .doc_field {
  height: 46px;
  flex-basis: 70%;
  display: inline-flex;
}
section .field:nth-of-type(6) .doc_field input[type=text] {
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  font-size: 20px;
  border: 2px solid #194973;
  border-radius: 0px 5px 5px 0px;
  border-left: 0px;
  box-sizing: border-box;
  padding-left: 2%;
  margin-left: 0px;
  width: 62.5%;
  height: 100%;
}
section .field:nth-of-type(6) .doc_field select {
  box-sizing: border-box;
  border: 2px solid #194973;
  border-radius: 5px 0px 0px 5px;
  border-right: 0;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-left: 70px;
  margin-right: 0px;
  width: 22%;
  height: 100%;
}
section .buttons {
  float: right;
  margin-right: 150px;
  margin-top: 20px;
}
section .buttons #save {
  display: inline-block;
  background-color: #26c739;
  text-align: left;
}
section .buttons #save i {
  margin-left: 20px;
  margin-right: 5px;
}
section .buttons #delete {
  display: inline-block;
  background-color: #c72626;
  margin-right: 20px;
  text-align: left;
}
section .buttons #delete i {
  margin-left: 20px;
  margin-right: 5px;
}

/* For styling placeholders and on focus in text inputs*/
input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list], input[type=number], textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list], input[type=number], textarea:-moz-placeholder {
  /*Firefox < 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list], input[type=number], textarea::-moz-placeholder {
  /*Firefox > 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list], input[type=number], textarea:-ms-input-placeholder {
  /*Internet Explorer 10*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list], input[type=number], textarea:focus {
  font-family: "Roboto", sans-serif;
  outline: none;
}

/* For styling placeholders and on focus in password inputs*/
input[type=password]:focus {
  font-family: "Roboto", sans-serif;
  outline: none;
}

input[type=password]::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]:-moz-placeholder {
  /*Firefox < 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]::-moz-placeholder {
  /*Firefox > 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]:-ms-input-placeholder {
  /*Internet Explorer 10*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}