* {
  margin: 0px;
  padding: 0px;
}

::selection {
  background-color: #194973;
  color: white;
}

html, body {
  background-color: #e6f0f5;
  color: white;
  background: url(../img/background_light.png);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
  color: white;
  transition: color 0.4s;
}
a:hover {
  color: #F8D872;
}
input[type=submit] {
  border: 0px;
  background-color: #FFFFFF;
}

input[type=text], input[type=password] {
  border: 0px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-color: #F8D872;
}

input[type=radio] {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #194973;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=radio]:checked {
  background-color: #194973;
}

label {
  display: inline-block;
  white-space: nowrap;
}
label:hover {
  cursor: pointer;
}

fieldset {
  border: 0px;
}

header {
  position: relative;
  background-color: #194973;
  height: 120px;
  width: 100vw;
}

#logo {
  box-sizing: border-box;
  position: absolute;
  width: 380px;
  height: 120px;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 27px;
  font-weight: 300;
  float: left;
}
#logo img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  float: left;
}
#logo a:hover {
  color: white;
}

#logging {
  position: absolute;
  top: 20%;
  right: 2%;
  box-sizing: border-box;
  font-weight: 300;
}
#logging #user_status {
  display: block;
  font-weight: 100;
  font-size: 20px;
}
#logging #log_in_button {
  float: right;
  text-align: right;
  transition: color, 0.4s;
  margin-top: 10px;
}
#logging #log_in_button:hover {
  color: #F8D872;
  cursor: pointer;
}

input[onblur] {
  border: 0;
  border-bottom: 2px solid silver;
  transition: border-bottom 0.5s;
  width: 300px;
  padding-bottom: 2px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
input[onblur]:focus {
  border-bottom: 2px solid #194973;
}

.single_input:nth-of-type(6) input {
  border-bottom: 2px solid silver;
  transition: border-bottom 0.5s;
  width: 149px;
}
.single_input:nth-of-type(6) input:focus {
  border-bottom: 2px solid #194973;
}

input[type=date] {
  border: 0;
  border-bottom: 2px solid silver;
  transition: border-bottom 0.5s;
  width: 300px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-bottom: 2px;
}
input[type=date]:focus {
  border-bottom: 2px solid #194973;
}

label {
  font-size: 14px;
}

main {
  box-sizing: border-box;
  width: 800px;
  height: 820px;
  background-color: white;
  margin: 50px auto 50px auto;
  padding: 25px 75px 30px 75px;
  -webkit-box-shadow: 0px 0px 30px -10px #194973;
  -moz-box-shadow: 0px 0px 30px -10px #194973;
  box-shadow: 0px 0px 30px -10px #194973;
  border-radius: 10px;
}

p {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 20px;
  color: #194973;
}

.single_input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.input_label {
  display: inline-block;
  width: 340px;
  color: #194973;
}

.status_note {
  display: block;
  font-size: 10px;
  margin: 5px 0px 0px 350px;
  color: black;
}

input[type=submit] {
  display: block;
  float: right;
  margin: 50px auto 0px auto;
  background-color: #194973;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 300;
}
input[type=submit]:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px -10px #194973;
  -moz-box-shadow: 0px 0px 30px -10px #194973;
  box-shadow: 0px 0px 30px -10px #194973;
}

/* For styling placeholders and on focus in text inputs*/
input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list]::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list]:-moz-placeholder {
  /*Firefox < 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list]::-moz-placeholder {
  /*Firefox > 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list]:-ms-input-placeholder {
  /*Internet Explorer 10*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=e-mail], input[type=date], input[list]:focus {
  font-family: "Roboto", sans-serif;
  outline: none;
}

/* For styling placeholders and on focus in password inputs*/
input[type=password]:focus {
  font-family: "Roboto", sans-serif;
  outline: none;
}

input[type=password]::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]:-moz-placeholder {
  /*Firefox < 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]::-moz-placeholder {
  /*Firefox > 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]:-ms-input-placeholder {
  /*Internet Explorer 10*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}