{% extends 'worker_side/base.html' %}
{% load static %}

{% block title %}Work desktop - Online Library Catalog for librarian{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'worker_side/css/home.css' %}" media="screen"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}
{% block content %}
    <div class="path">You are here: Work desktop</div>
    {% if messages %}
        {% for message in messages %}
            <div class="op_status {{ message.tags }}"><i class="fas fa-info"></i>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <main>
        <div class="top">
            <div class="option_box search">
                <a href="{% url 'user_side-home' %}"><i class="fas fa-search"></i></br>Search in resources</a>
            </div>
            <div class="option_box user" style="grid-area: user1">
                <a href="{% url 'worker_side-register_user' %}"><i class="fas fa-user-plus"></i><br>Register new user</a>            
            </div>     
            <div class="option_box user" style="grid-area: user2">
                <a href="{% url 'worker_side-modify_client' %}"><i class="fas fa-user-edit"></i></br>Change user data</a>            
            </div>
        </div>           
        <div class="middle">
            <div class="option_box item" style="grid-area: item1">
                <a href="{% url 'worker_side-add_book' %}"><i class="fas fa-plus-square"></i></br>Add item to catalog</a>            
            </div>
            <div class="option_box item" style="grid-area: item2">
                <a href="{% url 'worker_side-modify_item' %}"><i class="fas fa-pen-square"></i></br>Edit item data</a>            
            </div>
        </div>
        <div class="bottom">
            <div class="option_box borrows" style="grid-area: borrow1">
                <a href="{% url 'worker_side-placed_orders' %}">
                    <div class="notification">5</div>
                    <i class="fas fa-exclamation"></i>
                </br>New orders
            </a>
            </div>
            <i class="fas fa-book-reader"></i>
            <div class="option_box borrows" style="grid-area: borrow2">
                <a href="{% url 'worker_side-waiting_orders' %}"><i class="fas fa-clock"></i></br>Pending orders</a>
            </div>
            <div class="option_box borrows" style="grid-area: borrow3">                
                <a href="{% url 'worker_side-borrowed_items' %}"><i class="fas fa-book-reader"></i></br>Currently borrowed items</a>
            </div>
        </div>           
    </main>
    {{ number_of_orders|json_script:"orders_amount" }}
    <footer>2021-2022 by <a href="https://www.github.com/konradmaciejczyk" rel="author" target="_blank" title="github profile">Konrad Maciejczyk</a>, University of Silesia</footer>
    <script type="text/javascript">
        const notification = document.querySelector('.notification');
        
        function update_notification(number_of_orders){
            if(number_of_orders === 0){
                notification.innerHTML = number_of_orders;
                notification.style.opacity = '0';
            }else{
                notification.innerHTML = number_of_orders;
                notification.style.opacity = '1';
            }
        }

        function get_orders_amount(){
            fetch(window.location.href + "?order_status").then((response) =>{
                return response.json()
            }).then((response_json => {
                update_notification(response_json);
            }))
        }
        
        

        update_notification(parseInt(document.getElementById('orders_amount').textContent));
        setInterval(get_orders_amount, 5000);

    </script>
{% endblock content %}
