{% extends 'worker_side/base.html' %}
{% load static %}

{% block title %}Work desktop - Online Library Catalog for librarian{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'worker_side/css/home.css' %}" media="screen"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}
{% block content %}
    <div class="nav">You are here: Work desktop</div>
    {% if messages %}
        {% for message in messages %}
            <div class="op_status">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <main>
        <div class="option_box search">
            <a href="#"><i class="fas fa-search"></i></br>Search in resources</a>
        </div>
        <div class="option_box user" style="grid-area: user1">
            <a href="{% url 'worker_side-register_user' %}"><i class="fas fa-user-plus"></i><br>Register new user</a>            
        </div>     
        <div class="option_box user" style="grid-area: user2">
             <a href="#"><i class="fas fa-user-edit"></i></br>Change user data</a>            
        </div>
        <div class="option_box user" style="grid-area: user3">
            <a href="#"><i class="fas fa-user-minus"></i></br>Delete user</a>            
        </div>
        <div class="option_box item" style="grid-area: item1">
            <a href="#"><i class="fas fa-plus-square"></i></br>Add item to catalog</a>            
        </div>
        <div class="option_box item" style="grid-area: item2">
            <a href="#"><i class="fas fa-pen-square"></i></br>Edit item data</a>            
        </div>
        <div class="option_box item" style="grid-area: item3">
            <a href="#"><i class="fas fa-minus-square"></i></br>Delete item</a>            
        </div>
        <div class="option_box borrows" style="grid-area: borrow1">
            <a href="#"><i class="fas fa-exclamation"></i></br>New orders</a>
        </div>
        <i class="fas fa-book-reader"></i>
        <div class="option_box borrows" style="grid-area: borrow2">
            <a href="#"><i class="fas fa-clock"></i></br>Pending Borrows</a>
        </div>
        <div class="option_box borrows" style="grid-area: borrow3">                
            <a href="#"><i class="fas fa-book-reader"></i></br>Current borrowed items</a>
        </div>           
    </main>
    <footer>2021-2022 by Konrad Maciejczyk, University of Silesia</footer>
{% endblock content %}
