{% extends 'worker_side/base.html' %}
{% load static %}
{% block title %}New {{ item_info.type }} has been added to catalog{% endblock title %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'worker_side/css/item_summary.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.5/JsBarcode.all.min.js" integrity="sha512-QEAheCz+x/VkKtxeGoDq6nsGyzTx/0LMINTgQjqZ0h3+NjP+bCsPYz3hn0HnBkGmkIFSr7QcEZT+KyEM7lbLPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       
    </script>
{% endblock scripts %}
{% block content %}
<div class="path">You are here: <a href="{% url 'worker_side-home' %}">Work desktop</a> > <a href="{% url 'worker_side-add_book' %}">Add new item to catalog</a> > New {{ item_info.type }} - summary</div>
    <main>
        <h1>New {{ item_info.type }} added</h1>
        <p><span style="font-weight: 500;">{{ item_info.title }}</span> by 
            {% if item_info.author %}
                <span style="font-weight: 500;">{{ item_info.author }}{{ item_info.director }}</span>
            {% else %} 
                <span style="font-weight: 500;">unknown author</span>
            {% endif %}
        </p>
        <div class="item_info">
            <div class="informations">
                {% if item_info.type == 'book' %}
                    <div class="single_info"><span class="single_info_label">Type:</span><span class="single_info_content"><i class="fas fa-book-open"></i>Book</span></div>
                {% elif item_info.type == 'movie' %}
                    <div class="single_info"><span class="single_info_label">Type:</span><span class="single_info_content"><i class="fas fa-film"></i>Movie</span></div>
                {% elif item_info.type == 'sound recording' %}
                    <div class="single_info"><span class="single_info_label">Type:</span><span class="single_info_content"><i class="fas fa-compact-disc"></i>Sound Recording</span></div>
                {% endif %}

                <div class="single_info"><span class="single_info_label">ID:</span><span class="single_info_content" id="id_number">{{ item_info.id }}</span></div>

                <div class="single_info"><span class="single_info_label">Title:</span><span class="single_info_content">{{ item_info.title }}</span></div>

                <div class="single_info"><span class="single_info_label">Full title:</span><span class="single_info_content">{{ item_info.full_title }}</span></div>

                {% if item_info.author %}
                    <div class="single_info"><span class="single_info_label">Author(s):</span><span class="single_info_content">{{ item_info.author }}</span></div>
                {% endif %}

                {% if item_info.director %}
                    <div class="single_info"><span class="single_info_label">Director(s):</span><span class="single_info_content">{{ item_info.director }}</span></div>
                {% endif %}

                {% if item_info.screenwriter %}
                    <div class="single_info"><span class="single_info_label">Screenwriter(s):</span><span class="single_info_content">{{ item_info.screenwriter }}</span></div>
                {% endif %}

                {% if item_info.cast %}
                    <div class="single_info"><span class="single_info_label">Cast:</span><span class="single_info_content">{{ item_info.cast }}</span></div>
                {% endif %}
                
                {% if item_info.publisher %}
                    <div class="single_info"><span class="single_info_label">Publisher:</span><span class="single_info_content">{{ item_info.publisher }}</span></div>
                {% endif %}

                {% if item_info.pub_year is not none %}
                    <div class="single_info"><span class="single_info_label">Publication year:</span><span class="single_info_content">{{ item_info.pub_year }}</span></div>
                {% endif %}

                {% if item_info.release_year is not none %}
                    <div class="single_info"><span class="single_info_label">Release year:</span><span class="single_info_content">{{ item_info.release_year }}</span></div>
                {% endif %}

                {% if item_info.isbn %}
                    <div class="single_info"><span class="single_info_label">ISBN:</span><span class="single_info_content">{{ item_info.isbn }}</span></div>  
                {% endif %}
                       
                <div class="single_info"><span class="single_info_label">Description:</span><span class="single_info_content">{{ item_info.description }}</span></div>  

                <div class="single_info"><span class="single_info_label">Condition:</span><span class="single_info_content">{{ item_info.condition }}</span></div>
                
                <div class="single_info"><span class="single_info_label">Availability:</span><span class="single_info_content">{{ item_info.availability }}</span></div>                
            </div>
            <img src="{{ item_info.cover.url }}">
        </div>
        <div class="operations">
            <p class="op_caption">Operations performed</p>
            {% if operations.new_item %}
                <span class="single_op">Inserted new {{ item_info.type }} entry into {{item_info.type }}s table.</span>
            {% endif %} 

            {% for director in operations.new_directors %}
                <span class="single_op">Inserted new director ({{ director }}) entry into directors table.</span>
            {% endfor %}

            {% for author in operations.new_authors %}
                <span class="single_op">Inserted new author ({{ author }}) entry into authors table.</span>
            {% endfor %}

            {% for screenwriter in operations.new_screenwriters %}
                <span class="single_op">Inserted new screenwriter ({{ screenwriter }}) entry into screenwriters table.</span>
            {% endfor %}

            {% if operations.new_publisher %}
                <span class="single_op">Inserted new publisher ({{ operations.new_publisher }}) entry into publishers table.</span>
            {% endif %}           
        </div>
            <svg class="barcode" id="barcode"></svg>
        <button id="print">Print barcode</button>
        <a href="{% url 'worker_side-home' %}"><div class="done">Done</div></a>
        <div style="clear: both;"></div>
    </main>
    <script type="text/javascript">
        const print_button = document.getElementById('print').addEventListener('click', () =>{
            window.print();
        })

        const id = document.getElementById('id_number').innerHTML;

        //  if ( window.history.replaceState ) {
        //     window.history.replaceState( null, null, window.location.href );
        // }

        JsBarcode("#barcode", id, {
             lineColor: "#194973",
        });
    </script>
{% endblock content %}
