{% extends 'worker_side/base.html' %}
{% load static %}
{% block title %}Modify item - Online Library Catalog for librarian{% endblock title %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'worker_side/css/modify_item.css' %}" media="screen"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}
{% block content %}
    <div class="path">You are here: <a href="{% url 'worker_side-home' %}">Work desktop</a> > Modify item</div>
    {% if messages %}
        {% for message in messages %}
            <div class="op_status {{ message.tags }}" id="message"><i class="fas fa-info"></i>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <main>
        <h1>Modify item</h1>
        <div class="search_bar">
            <input type="text" placeholder="Search in database" onfocus="this.placeholder='';" onblur="this.placeholder='Search in database';" id="phrase"></input>
            <select id="phrase_type">
                <option value="Name/Title">Name/Title</option>
                <option value="ID">ID</option>
            </select>
            <select id="item_type">
                <option value="Book">Book</option>
                <option value="Movie/Film">Movie/Film</option>
                <option value="Sound recording">Sound recording</option>
                <option value="Author">Author</option>
                <option value="Director">Director</option>
                <option value="Screenwriter">Screenwriter</option>
                <option value="Publisher">Publisher</option>
            </select>
        </div>
        <button id="search_button">Search</button>
        <section>
        </section>
    </main>
    {% csrf_token %}
    <script type="text/javascript">
        const token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        const section = document.querySelector('section');
        var current_form_type = null;

        function check_if_numeric(item, starts_with_0){
            const regex_with_0 = new RegExp('[0-9]+');
            const regex_without_0 = new RegExp('^[1-9][0-9]+');
            return starts_with_0 ? regex_with_0.test(item.value) : regex_without_0.test(item.value);
        }

        function check_form(){
            console.log(current_form_type);
            switch(current_form_type){
                case ("Author"):{
                    return document.getElementById('author').value === '' ? false : true;
                }case ("Screenwriter"):{
                    return document.getElementById('screenwriter').value === '' ? false : true;
                }case ("Director"):{
                    return document.getElementById('director').value === '' ? false : true;
                }case ("Publisher"):{
                    return document.getElementById('publisher').value === '' ? false : true;
                }case ("Book"):{
                    let isbn = document.getElementById('isbn');
                    isbn = (check_if_numeric(isbn, true) && (isbn.value.length === 10 || isbn.value.length === 13)) || isbn.value === '';
                    let title = document.getElementById('title').value !== '';
                    let full_title = document.getElementById('full_title').value !== '';
                    let pub_year = document.getElementById('pub_year');
                    pub_year = check_if_numeric(pub_year) || pub_year.value === '';
                    let description = document.getElementById('description').value !== '';
                    return isbn && title && full_title && pub_year && description;                    
                }case ("Movie/Film"):{
                    let title = document.getElementById('title').value !== '';
                    let full_title = document.getElementById('full_title').value !== '';
                    let pub_year = document.getElementById('pub_year');
                    pub_year = check_if_numeric(pub_year) || pub_year.value === '';
                    let description = document.getElementById('description').value !== '';
                    return title && full_title && pub_year && description;
                }case ("Sound recording"):{
                    let title = document.getElementById('title').value !== '';
                    let full_title = document.getElementById('full_title').value !== '';
                    let pub_year = document.getElementById('pub_year');
                    pub_year = check_if_numeric(pub_year) || pub_year.value === '';
                    let description = document.getElementById('description').value !== '';
                    return title && full_title && pub_year && description;
                }
            }
        }

        function generate_form(type, content){
            let availability_ = content["availability"] === 1 ? new Array("selected", "") : new Array("", "selected");
            let condition_ = content["condition"] === 1 ? new Array("selected", "") : new Array("", "selected");
            let cover_ = content['cover'] === 1 ? "checked" : "";
            let token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            console.log(type);
            switch(type['item']){
                case "Author":{
                    let html_content = `
                    <p class="results">Results:</p>
                    <form action="edit-author/" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${token}">
                        <input type="hidden" name="id" value="${type['id']}">
                        <div class="field"><label>Author: </label><input id="author" name="author" type="text" value="${content['name']}"></div>
                    </form>
                    <div class="buttons">
                        <button id="delete" data-item="${type['item']}-${type['id']}"><i class="fas fa-times"></i>Delete</button>
                        <button id="save" data-item="${type['item']}-${type['id']}"><i class="fas fa-check"></i>Save</button>                
                    </div>
                    <div style="clear: both;"></div>`;
                    section.innerHTML = html_content;  
                    current_form_type = "Author";
                    break;                                     
                }case "Publisher":{
                    let html_content = `
                    <p class="results">Results:</p>
                    <form action="edit-publisher/" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${token}">
                        <input type="hidden" name="id" value="${type['id']}">
                        <div class="field"><label>Publisher: </label><input id="publisher" name="publisher" type="text" value="${content['name']}"></div>
                    </form>
                    <div class="buttons">
                        <button id="delete" data-item="${type['item']}-${type['id']}"><i class="fas fa-times"></i>Delete</button>
                        <button id="save" data-item="${type['item']}-${type['id']}"><i class="fas fa-check"></i>Save</button>                
                    </div>
                    <div style="clear: both;"></div>`;
                    section.innerHTML = html_content;
                    current_form_type = "Publisher";
                    break;
                }case "Director":{
                    let html_content = `
                    <p class="results">Results:</p>
                    <form action="edit-director/">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${token}">
                        <input type="hidden" name="id" value="${type['id']}">
                        <div class="field"><label>Director: </label><input id="director" name="director" type="text" value="${content['name']}"></div>
                    </form>
                    <div class="buttons">
                        <button id="delete" data-item="${type['item']}-${type['id']}"><i class="fas fa-times"></i>Delete</button>
                        <button id="save" data-item="${type['item']}-${type['id']}"><i class="fas fa-check"></i>Save</button>                
                    </div>
                    <div style="clear: both;"></div>`;
                    section.innerHTML = html_content;
                    current_form_type = "Director";
                    break;
                }case "Screenwriter":{
                    let html_content = `
                    <p class="results">Results:</p>
                    <form action="edit-screenwriter/" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${token}">
                        <input type="hidden" name="id" value="${type['id']}">
                        <div class="field"><label>Screenwriter: </label><input id="screenwriter" name="screenwriter type="text" value="${content['name']}"></div>
                    </form>
                    <div class="buttons">
                        <button id="delete" data-item="${type['item']}-${type['id']}"><i class="fas fa-times"></i>Delete</button>
                        <button id="save" data-item="${type['item']}-${type['id']}"><i class="fas fa-check"></i>Save</button>                
                    </div>
                    <div style="clear: both;"></div>`;
                    section.innerHTML = html_content;
                    current_form_type = "Screenwriter";
                    break;
                }case "Book":{
                    let html_content = `
                    <p class="results">Results:</p>
                    <form action="edit-book/" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${token}">
                        <input type="hidden" name="id" value="${type['id']}">
                        <div class="field"><label>ISBN: </label>
                            <input type="text" value="${content['isbn']}" id="isbn" name="isbn">
                        </div>
                        <div class="field"><label>Author: </label>
                            <input type="text" list="authors_list" value="${content["author"]}" id="author" name="author" ></div>
                            <datalist id="authors_list">
                                {% for author in authors %}
                                <option datavalue="{{ author }}">{{ author }}</option>
                                {% endfor %}
                            </datalist>
                        </div>                        
                        <div class="field"><label>Title: </label><input type="text" value="${content["title"]}" id="title" name="title"></div>
                        <div class="field"><label>Full title: </label><input type="text" value="${content["full_title"]}" id="full_title" name="full_title"></div>
                        <div class="field"><label>Publication year: </label><input type="number" value="${content["pub_year"]}" id="pub_year" name="pub_year"></div>
                        <div class="field"><label>Publisher: </label>
                            <input type="text" value="${content["publisher"]}" list="publishers_list" id="publisher" name="publisher">
                            <datalist id="publishers_list">
                                {% for publisher in publishers %}
                                <option data-value="{{ publisher }}">{{ publisher }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="field"><label>Description: </label><textarea id="description" name="description">${content["description"]}</textarea></div>                        
                        <div class="field">
                            <label>Availability: </label>
                            <select selected="${content["availability"]}" id="availability" name="availability">
                                <option>Currently borrowed</option>
                                <option value="1" ${availability_[0]}>Available to borrow</option>
                                <option value="2" ${availability_[1]}>Library use only</option>
                            </select>
                        </div>
                        <div class="field"><label>Condition: </label>
                            <select selected="${content["condition"]}" id="condition" name="condition">
                                <option>Describe book condition</option>
                                <option value="1" ${condition_[0]}>Good</option>
                                <option value="2" ${condition_[1]}>Damaged</option>
                            </select>
                        </div>
                        <div class="field"><label>Cover image: </label><input type="file" id="cover" name="cover"></div>
                    </form>
                    <div class="buttons">
                            <button id="delete" data-item="${type['item']}-${type['id']}"><i class="fas fa-times"></i>Delete</button>
                            <button id="save" data-item="${type['item']}-${type['id']}"><i class="fas fa-check"></i>Save</button>                
                    </div>
                    <div style="clear: both;"></div>`;
                    section.innerHTML = html_content;
                    current_form_type = "Book";
                    break;
                }case "Movie/Film":{
                    let html_content = `
                    <p class="results">Results:</p>
                    <form action="edit-movie/" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${token}">
                        <input type="hidden" name="id" value="${type['id']}">
                        <div class="field"><label>Director(s): </label>
                            <input type="text" list="directors_list" value="${content["director"]}" id="director" name="director"></div>
                            <datalist id="directors_list">
                                {% for director in directors %}
                                <option datavalue="{{ director }}">{{ director }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="field"><label>Screenwriter(s): </label>
                            <input type="text" list="screenwriters_list" value="${content["screenwriter"]}" id="screenwriter" name="screenwriter"></div>
                            <datalist id="screenwriters_list">
                                {% for screenwriter in screenwriters %}
                                <option datavalue="{{ screenwriter }}">{{ screenwriter }}</option>
                                {% endfor %}
                            </datalist>
                        </div>                                  
                        <div class="field"><label>Title: </label><input type="text" value="${content["title"]}" id="title" name="title"></div>
                        <div class="field"><label>Full title: </label><input type="text" value="${content["full_title"]}" id="full_title" name="full_title"></div>
                        <div class="field"><label>Release year: </label><input type="number" value="${content["pub_year"]}" id="pub_year" name="pub_year"></div>
                        <div class="field"><label>Description: </label><textarea id="description" name="description">${content["description"]}</textarea></div>                        
                        <div class="field">
                            <label>Availability: </label>
                            <select selected="${content["availability"]}" id="availability" name="availability">
                                <option>---Currently borrowed--</option>
                                <option value="1" ${availability_[0]}>Available to borrow</option>
                                <option value="2 ${availability_[1]}">Library use only</option>
                            </select>
                        </div>
                        <div class="field"><label>Condition: </label>
                            <select selected="${content["condition"]}" id="condition" name="condition">
                                <option>Describe book condition</option>
                                <option value="1" ${condition_[0]}>Good</option>
                                <option value="2" ${condition_[1]}>Damaged</option>
                            </select>
                        </div>
                        <div class="field"><label>Cover image: </label><input type="file" id="cover" name="cover"></div>
                    </form>
                    <div class="buttons">
                            <button id="delete" data-item="${type['item']}-${type['id']}"><i class="fas fa-times"></i>Delete</button>
                            <button id="save" data-item="${type['item']}-${type['id']}"><i class="fas fa-check"></i>Save</button>                
                    </div>
                    <div style="clear: both;"></div>`;
                    section.innerHTML = html_content;
                    current_form_type = "Movie/Film";
                    break;
                }case "Sound recording":{
                    let html_content = `
                    <p class="results">Results:</p>
                    <form action="edit-sound-recording/" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${token}">
                        <input type="hidden" name="id" value="${type['id']}">
                        <div class="field"><label>Author: </label>
                            <input type="text" list="authors_list" value="${content["author"]}" id="author" name="author"></div>
                            <datalist id="authors_list">
                                {% for author in authors %}
                                <option datavalue="{{ author }}">{{ author }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="field"><label>Cast: </label>
                            <input type="text" value="${content['cast']}" id="cast" name="cast">
                        </div>                        
                        <div class="field"><label>Title: </label><input type="text" value="${content["title"]}" id="title" name="title"></div>
                        <div class="field"><label>Full title: </label><input type="text" value="${content["full_title"]}" id="full_title" name="full_title"></div>
                        <div class="field"><label>Publication year: </label><input type="number" value="${content["pub_year"]}" id="pub_year" name="pub_year"></div>
                        <div class="field"><label>Publisher: </label>
                            <input type="text" value="${content["publisher"]}" list="publishers_list" id="publisher" name="publisher">
                            <datalist id="publishers_list">
                                {% for publisher in publishers %}
                                <option data-value="{{ publisher }}">{{ publisher }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="field"><label>Description: </label><textarea id="description" name="description">${content["description"]}</textarea></div>                        
                        <div class="field">
                            <label>Availability: </label>
                            <select selected="${content["availability"]}" id="availability" name="availability">
                                <option>---Currently borrowed--</option>
                                <option value="1" ${availability_[0]}>Available to borrow</option>
                                <option value="2" ${availability_[1]}>Library use only</option>
                            </select>
                        </div>
                        <div class="field"><label>Condition: </label>
                            <select selected="${content["condition"]}" id="condition" name="condition">
                                <option>---Describe book condition---</option>
                                <option value="1" ${condition_[0]}>Good</option>
                                <option value="2" ${condition_[1]}>Damaged</option>
                            </select>
                        </div>
                        <div class="field"><label>Cover image: </label><input type="file" id="cover" name="cover"></div>
                    </form>
                    <div class="buttons">
                            <button id="delete" data-item="${type['item']}-${type['id']}"><i class="fas fa-times"></i>Delete</button>
                            <button id="save" data-item="${type['item']}-${type['id']}"><i class="fas fa-check"></i>Save</button>                
                    </div>
                    <div style="clear: both;"></div>`;
                    section.innerHTML = html_content;
                    current_form_type = "Sound recording";
                    break;
                }       
            }

            let save_button = document.getElementById("save");
            save_button.addEventListener('click', (button) => {
                if(check_form()){
                    if(window.confirm("Do you really want to update this item in database?")){
                        send_data(button.target.dataset.item, 1)                        
                    }
                }else{
                    window.alert("Invalid inputs!");
                }

            })

            let delete_button = document.getElementById('delete');
            delete_button.addEventListener('click', (button) => {
                if(window.confirm('Do you really want to remove this item from database?')){
                    send_data(button.target.dataset.item, 2);
                }
            })
        }

        function send_data(item, action){   
            let token = document.getElementsByName('csrfmiddlewaretoken')[0].value;                  
            if(action===1){
                let form = document.querySelector('form')   
                form.submit();
            }else if(action===2){
                fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': token
                },
                body: JSON.stringify({'item': item})
            }).then((response) => {
                return response.json()
            }).then((response_json) => {
                if(response_json === 'OK!'){
                    window.location.reload();
                }
            })
            }
            
        }

        async function fetch_result(){
            const phrase = document.getElementById('phrase').value;
            const phrase_type = document.getElementById('phrase_type').value;
            const item_type = document.getElementById('item_type').value;

            let results = await fetch(`?phrase=${phrase}&phrase_type=${phrase_type}&item_type=${item_type}`);
            let results_json = await results.json();
            if(results_json[0] === "OK!"){
                generate_form(results_json[1], results_json[2]);
            }else{
                let = html_content = `<p class="no_results">No results.</p>`;
                section.innerHTML = html_content;
            }
        }

        const search_button = document.getElementById("search_button");
        search_button.addEventListener('click', fetch_result);
    </script>
{% endblock content %}