{% extends 'worker_side/base.html' %}
{% load static %}
{% block title %}Modify item - Online Library Catalog for librarian{% endblock title %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'worker_side/css/modify_item.css' %}" media="screen"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}
{% block content %}
    <div class="path">You are here: <a href="{% url 'worker_side-home' %}">Work desktop</a> > Modify item</div>
    <main>
        <h1>Modify item</h1>
        <div class="search_bar">
            <input type="text" placeholder="Search in database" onfocus="this.placeholder='';" onblur="this.placeholder='Search in database';" id="phrase"></input>
            <select id="phrase_type">
                <option value="Name/Title">Name/Title</option>
                <option value="ID">ID</option>
            </select>
            <select id="item_type">
                <option value="Book">Book</option>
                <option value="Movie/Film">Movie/Film</option>
                <option value="Spund recording">Sound recording</option>
                <option value="Author">Author</option>
                <option value="Director">Director</option>
                <option value="Screenwriter">Screenwriter</option>
                <option value="Publisher">Publisher</option>
            </select>
        </div>
        <button id="search_button">Search</button>
        <section>
        </section>
    </main>
    {% csrf_token %}
    <script type="text/javascript">
        const token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        const section = document.querySelector('section');

        function generate_form(result, type, content){
            console.log(`${result}, ${type}, ${content['name']}`);
            availability_ = content["availability"] === 1 ? new Array("selected", "") : new Array("", "selected");
            condition_ = content["condition"] === 1 ? new Array("selected", "") : new Array("", "selected");
            switch(result){
                case "OK!":{
                    switch(type){
                        case "Author":{
                            let html_content = `
                            <p class="results">Results:</p>
                            <div class="field"><label>Author: </label><input type="text" value="${content['name']}"></div>
                            <div class="buttons">
                                <button id="delete"><i class="fas fa-times"></i>Delete</button>
                                <button id="save"><i class="fas fa-check"></i>Save</button>                
                            </div>
                            <div style="clear: both;"></div>`;
                            section.innerHTML = html_content;  
                            break;                                     
                    }case "Publisher":{
                        let html_content = `
                            <p class="results">Results:</p>
                            <div class="field"><label>Publisher: </label><input type="text" value="${content['name']}"></div>
                            <div class="buttons">
                                <button id="delete"><i class="fas fa-times"></i>Delete</button>
                                <button id="save"><i class="fas fa-check"></i>Save</button>                
                            </div>
                            <div style="clear: both;"></div>`;
                            section.innerHTML = html_content;
                            break;
                    }case "Director":{
                        let html_content = `
                            <p class="results">Results:</p>
                            <div class="field"><label>Director: </label><input type="text" value="${content['name']}"></div>
                            <div class="buttons">
                                <button id="delete"><i class="fas fa-times"></i>Delete</button>
                                <button id="save"><i class="fas fa-check"></i>Save</button>                
                            </div>
                            <div style="clear: both;"></div>`;
                            section.innerHTML = html_content;
                            break;
                    }case "Screenwriter":{
                        let html_content = `
                            <p class="results">Results:</p>
                            <div class="field"><label>Screenwriter: </label><input type="text" value="${content['name']}"></div>
                            <div class="buttons">
                                <button id="delete"><i class="fas fa-times"></i>Delete</button>
                                <button id="save"><i class="fas fa-check"></i>Save</button>                
                            </div>
                            <div style="clear: both;"></div>`;
                            section.innerHTML = html_content;
                            break;
                    }case "Book":{
                        let html_content = `
                        <p class="results">Results:</p>
                        <div class="field"><label>ISBN: </label>
                            <input type="text" value="${content['isbn']}">
                        </div>
                        <div class="field"><label>Author: </label>
                            <input type="text" list="authors_list" value="${content["author"]}"></div>
                            <datalist id="authors_list">
                                {% for author in authors %}
                                <option datavalue="{{ author }}">{{ author }}</option>
                                {% endfor %}
                            </datalist>
                        </div>                        
                        <div class="field"><label>Title: </label><input type="text" value="${content["title"]}"></div>
                        <div class="field"><label>Full title: </label><input type="text" value="${content["full_title"]}"></div>
                        <div class="field"><label>Publication year: </label><input type="number" value="${content["pub_year"]}"></div>
                        <div class="field"><label>Publisher: </label>
                            <input type="text" value="${content["publisher"]}" list="publishers_list">
                            <datalist id="publishers_list">
                                {% for publisher in publishers %}
                                <option data-value="{{ publisher }}">{{ publisher }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="field"><label>Description: </label><textarea>${content["description"]}</textarea></div>                        
                        <div class="field">
                            <label>Availability: </label>
                            <select selected="${content["availability"]}">
                                <option>---Describe availability--</option>
                                <option value="1" ${availability_[0]}>Available to borrow</option>
                                <option value="2 ${availability_[1]}">Library use only</option>
                            </select>
                        </div>
                        <div class="field"><label>Condition: </label>
                            <select selected="${content["condition"]}">
                                <option>---Describe book condition---</option>
                                <option value="1" ${condition_[0]}>Good</option>
                                <option value="2" ${condition_[1]}>Damaged</option>
                            </select>
                        </div>
                        <div class="field"><label>Cover image: </label><input type="file" id="cover" name="cover"><label><input type="checkbox">No cover available</label></div>
                        <div class="buttons">
                                <button id="delete"><i class="fas fa-times"></i>Delete</button>
                                <button id="save"><i class="fas fa-check"></i>Save</button>                
                        </div>
                        <div style="clear: both;"></div>`;
                        section.innerHTML = html_content;
                        break;
                    }case "Movie":{
                        let html_content = `
                        <p class="results">Results:</p>
                        <div class="field"><label>Author: </label>
                            <input type="text" list="authors_list" value="${content["author"]}"></div>
                            <datalist id="authors_list">
                                {% for author in authors %}
                                <option datavalue="{{ author }}">{{ author }}</option>
                                {% endfor %}
                            </datalist>
                        </div>                        
                        <div class="field"><label>Title: </label><input type="text" value="${content["title"]}"></div>
                        <div class="field"><label>Full title: </label><input type="text" value="${content["full_title"]}"></div>
                        <div class="field"><label>Publication year: </label><input type="number" value="${content["pub_year"]}"></div>
                        <div class="field"><label>Publisher: </label>
                            <input type="text" value="${content["publisher"]}" list="publishers_list">
                            <datalist id="publishers_list">
                                {% for publisher in publishers %}
                                <option data-value="{{ publisher }}">{{ publisher }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="field"><label>Description: </label><textarea>${content["description"]}</textarea></div>                        
                        <div class="field">
                            <label>Availability: </label>
                            <select selected="${content["availability"]}">
                                <option>---Describe availability--</option>
                                <option value="1" ${availability_[0]}>Available to borrow</option>
                                <option value="2 ${availability_[1]}">Library use only</option>
                            </select>
                        </div>
                        <div class="field"><label>Condition: </label>
                            <select selected="${content["condition"]}">
                                <option>---Describe book condition---</option>
                                <option value="1" ${condition_[0]}>Good</option>
                                <option value="2" ${condition_[1]}>Damaged</option>
                            </select>
                        </div>
                        <div class="field"><label>Cover image: </label><input type="file" id="cover" name="cover"><label><input type="checkbox">No cover available</label></div>
                        <div class="buttons">
                                <button id="delete"><i class="fas fa-times"></i>Delete</button>
                                <button id="save"><i class="fas fa-check"></i>Save</button>                
                        </div>
                        <div style="clear: both;"></div>`;
                }
                
                break;    
                }
            } case "Error!":{
                let = html_content = `<p class="no_results">No results.</p>`;
                section.innerHTML = html_content;
                break;
            }
        }
    }


        function send_data(){
            const phrase = document.getElementById('phrase').value;
            const phrase_type = document.getElementById('phrase_type').value;
            const item_type = document.getElementById('item_type').value;

            fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': token
                },
                body: JSON.stringify({'phrase': phrase, 'phrase_type': phrase_type, 'item_type': item_type})
            }).then((response) => {
                return response.json()
            }).then((response_json) => {
                console.log(response_json);
                generate_form(response_json[0], response_json[1], response_json[2]);
            })
        }

        const search_button = document.getElementById("search_button");
        search_button.addEventListener('click', send_data);
    </script>
{% endblock content %}