{% extends 'worker_side/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'worker_side/css/orders.css' %}">
{% endblock styles %}
{% block content %}
<div class="path">You are here: <a href="{% url 'worker_side-home' %}">Work desktop</a> > {{ title }}</div>
<div class="op_status error" id="error_message" style="display: none;">Something went wrong!</div>
    <main>
        <h1>{{ title }}</h1>
        <table>
            <tr class="exists">
                <th>No.</th>
                <th>Item info</th>
                <th>Client info</th>
                <th>
                    {% if title == 'Borrowed items' %}
                        Due date
                    {% else %}
                        Placed at
                    {% endif %}
                <th>
            </tr>
            {% for item in items %}
                <tr id="{{item.item_type}}-{{item.id}}" class="exists">                
                    <td>
                        <span id="tr_no" style="font-weight: 700;">{{ forloop.counter }}.</span>
                    </td>
                    <td>
                        <ul>
                            <li>{{ item.item_type }}</li>
                            <li>ID: {{ item.item_id }}</li>
                            <li>{{ item.item.title }}</li>
                        </ul>
                    </td>
                    <td>
                        {{ item.client.user.first_name }} {{ item.client.user.last_name }}</br>
                        {{ item.client.user.email}}</br>
                    </td>
                    <td>
                        {{ item.timestamp }}
                    </td>
                    <td>
                        <button data-item="{{item.item_type}}-{{item.id}}">
                            {% if title == 'Placed orders' %}
                                Prepare for pickup
                            {% elif title == 'Ready for pickup' %}
                                Lend out
                            {% elif title == "Borrowed items" %}
                                Accept return
                            {% endif %}                            
                        </button>
                    </td>
                </tr>
            {% endfor %}
    </main>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden">
    </form>
    <script type="text/javascript">
        const buttons = document.querySelectorAll('button');
        const token = document.getElementsByName('csrfmiddlewaretoken');
        const error_message = document.getElementById('error_message');

        function update_table(row_id){
            console.log(row_id);
            let tr = document.getElementById(row_id);
            tr.classList.remove('exists');

            
            
            setTimeout(() => {
                tr.remove();

                let trs = document.querySelectorAll('#tr_no');
                for (let i=0; i<trs.length; i++){
                    trs[i].innerHTML = String(i+1)+".";
                }
            }, 400)
            
        }

        function show_error(){
            error_message.style.display = 'block';

            setTimeout(() => {
                error_message.style.display = 'none';
            }, 5000);
        }

        function send_data(itemID){
            fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': token[0].value
                },
                body: JSON.stringify({'itemID': itemID})
            }).then((response) => {
                return response.json()
            }).then((response_json) => {
                if(response_json[0] === 'OK!'){
                    update_table(response_json[1]);
                }else{
                    show_error();
                }
            })
        }

        
        buttons.forEach((button) =>{
            button.addEventListener('click', () => {
                send_data(button.dataset.item);
            })
        })
    </script>
{% endblock content %}