{% extends 'worker_side/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'worker_side/css/orders.css' %}">
{% endblock styles %}
{% block content %}
<div class="path">You are here: <a href="{% url 'worker_side-home' %}">Work desktop</a> > {{ title }}</div>
    <main>
        <h1>{{ title }}</h1>
        <table>
            <tr>
                <th>No.</th>
                <th>Item info</th>
                <th>Client info</th>
                <th>Placed at</th>
                <th></th>
            </tr>
            {% for item in items %}
                <tr>                
                    <td>
                        <span style="font-weight: 700;">{{ forloop.counter }}.</span>
                    </td>
                    <td>
                        <ul>
                            <li>{{ item.item_type }}</li>
                            <li>ID: {{ item.item_id }}</li>
                            <li>{{ item.item.title }}</li>
                        </ul>
                    </td>
                    <td>
                        {{ item.client.user.first_name }} {{ item.client.user.last_name }}</br>
                        {{ item.client.user.email}}</br>
                    </td>
                    <td>
                        {{ item.timestamp }}
                    </td>
                    <td>
                        <button>
                            {% if title == 'Placed orders' %}
                                Ready for pick up
                            {% endif %}
                        </button>
                    </td>
                </tr>
            {% endfor %}
    </main>
    
{% endblock content %}