{% extends 'worker_side/base.html' %}
{% load static %}

{% block title %}User Registration - Online Library Catalog (for librarian){% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'worker_side/css/register_user.css' %}" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}
{% block scripts %}
{% endblock scripts %}

{% block content %}
    <div class="nav">You are here: <a href="{% url 'worker_side-home' %}">Work desktop</a> > New User Registration</div>
    {% for message in messages %}
        <div class="op_status {{ message.tags }}"><i class="fas fa-info"></i> {{ message }} </div>
    {% endfor %}
    <main>
        <p>Register new user</p>
        
        <form method="POST" id="form">
            {% csrf_token %}
            <div class="single_input">
                <span class="input_label">first name</span>
                    <input class="input_text" name="first_name" id="first_name" type="text" placeholder="Enter first name" onfocus="this.placeholder = '';" onblur="this.placeholder = 'Enter first name';" autocomplete="off" autofocus>
                    <span class="status_note" id="first_name_status">*information needed</span>
            </div>

            <div class="single_input">
                <span class="input_label">last name</span>
                    <input class="input_text" name="last_name" id="last_name" type="text" placeholder="Enter last name" oninput="" onfocus="this.placeholder = '';" onblur="this.placeholder = 'Enter last name';" maxlength="50" autocomplete="off">
                    <span class="status_note" id="last_name_status">*information needed</span>
            </div>

            <div class="single_input">
                <span class="input_label">gender</span>
                    <label><input class="input_radio" type="radio" name="gender" value="1">male</label>
                    <label><input class="input_radio" type="radio" name="gender" value="2">female</label>
                    <label><input class="input_radio" type="radio" name="gender" value="3">diverse</label>
                    <span class="status_note" id="gender_status">*information needed</span>
            </div>

            
            <div class="single_input">
                <span class="input_label">date of birth</span>
                    <input class="input_text" id="date_of_birth" max="{{ max_date }}" name="date_of_birth" type="date">
                    <span class="status_note" id="date_of_birth_status">*information needed</span>
            </div>
            
            <div class="single_input">
                <span class="input_label">citizenship</span>
                    <select id="citizenship" name="citizenship">
                        <option value="-1" selected="selected">---Select citizenship---</option>
                        {% for citizenship in citizenships %}
                            <option value="{{ citizenship.id }}"> {{ citizenship }}</option>
                        {% endfor %}
                    </select>
                    <span class="status_note" id="citizenship_status">*information needed</span>
            </div>

            
            <div class="single_input">
                <span class="input_label">identity document number</span>
                <select name="id_type" id="id_type">
                    <option value="-1" selected="selected">---Select ID type---</option>
                    <option value="1">ID Card</option>
                    <option value="2">Passport</option>
                </select>
                    <input class="input_text" id="id_number" type="text" name="id_number" placeholder="Enter ID number" onfocus="this.placeholder = '';" onblur="this.placeholder = 'Enter ID number';" autocomplete="off">
                    <span class="status_note" id="id_status">*information needed</span>
            </div> 
            
            <div class="single_input">
                <span class="input_label">e-mail address</span>
                    <input class="input_text" type="e-mail" id="email" name="email" placeholder="Enter e-mail address" onfocus="this.placeholder = '';" onblur="this.placeholder = 'Enter e-mail address';" autocomplete="off">
                    <span class="status_note" id="email_status">*information needed</span>
            </div>
            
            <div class="single_input">
                <span class="input_label">phone number</span>
                    <input class="input_text" id="phone_num" type="tel" name="phone_number" placeholder="Enter phone number" onfocus="this.placeholder = '';" onblur="this.placeholder = 'Enter phone number';" autocomplete="off">
                    <span class="status_note" id="phone_num_status">*information needed</span>
            </div>
    
            <div class="single_input">
                <span class="input_label">correspondance address</span>
                    <input class="input_text" id="corr_address" type="e-mail" name="corr_address" placeholder="Enter correspondance address" onfocus="this.placeholder = '';" onblur="this.placeholder = 'Enter correspondance address';" autocomplete="off">
                    <span class="status_note" id="corr_address_status">*information needed</span>
            </div>

            <div class="single_input">
                <span class="input_label">occupation</span>
                <select name="occupation" id="occupation">
                    <option value="-1" selected="selected">---Select occupation---</option>
                    <option value="1">Student</option>
                    <option value="2">Academic teacher</option>
                    <option value="3">Other</option>
                </select>
                    <span class="status_note" id="occupation_status">*information needed</span>
            </div>

            <input type="submit" value="Submit" id="submit_button"> 
        </form>
    </main>
    <script type="text/javascript">
    const color_correct = "green"; const color_incorrect = "firebrick"; const color_standard = "black";

    const correct = (id) => {
        let status = document.getElementById(`${id}_status`);
        status.innerHTML = '<i class="fas fa-check"></i>';
        status.style.color = color_correct;
    }

    const invalid = (id) => {
        let status = document.getElementById(`${id}_status`);
        status.innerHTML = '<i class="fas fa-times"></i>';
        status.style.color = color_incorrect;
    }

    const not_filled = (id) => {
        let status = document.getElementById(`${id}_status`);
        status.innerHTML = '*information needed';
        status.style.color = color_standard;
    }


    //========================OCCUPATION VALIDATION============================//
    const occupation = document.getElementById('occupation'); const occupation_status = document.getElementById('occupation_status');
    is_occupation_selected = false;

    occupation.addEventListener('input', function(){            
        if(parseInt(occupation.value) > 0 && parseInt(occupation.value) < 4){
            is_occupation_selected = true;
            correct('occupation');
            validate_form();
        }else{
            is_occupation_selected = false;
            not_filled('occupation');
        }
        
    })
    

    //========================ID VALIDATION============================//
    const id_type = document.getElementById('id_type');
    const id_number = document.getElementById('id_number'); const id_status = document.getElementById('id_status');
    var is_id_type_selected = false; var is_id_number_valid = false; var is_id_valid = false;

    function validate_id(){
        if(id_type.value === "1" || id_type.value === "2"){
            
            if(id_number.value.length < 5){
                invalid('id');
                return false;                    
            }else{
                correct('id')
                return true;
            }
        }else{
            not_filled('id')
            return false;  
        }

    }
    id_type.addEventListener('input', function(){
        is_id_type_selected = true;
        is_id_valid = validate_id();
        validate_form();
    })

    id_number.addEventListener('input', function(){
        is_id_number_valid = true;
        is_id_valid = validate_id();
        validate_form();
    })


    //========================RADIO VALIDATION============================//
    var is_gender_checked = false;
    const gender = document.getElementsByName('gender'); gender_status = document.getElementById('gender_status');

    gender.forEach(item => {
        item.addEventListener('click', event =>
        {
            is_gender_checked = true;
            correct('gender')
            validate_form();
        })
    })

    //========================DATE OF BIRTH VALIDATION============================//
    var is_date_entered = false;
    const date_of_birth = document.getElementById('date_of_birth'); const date_of_birth_status = document.getElementById('date_of_birth_status');

    date_of_birth.addEventListener('change', function(){
        if (date_of_birth.value == ""){
            is_date_entered = false;
            not_filled('date_of_birth');
            
        }else{
            is_date_entered = true;
            correct('date_of_birth');
        }
        
        validate_form();
    })

    //========================CITIZENSHIP VALIDATION============================//
    var is_citizenship_selected = false;
    const citizenship = document.getElementById('citizenship'); const citizenship_status = document.getElementById('citizenship_status');

    citizenship.addEventListener('change', function(){
        if(citizenship.value !== "-1"){
            is_citizenship_selected = true;
            correct('citizenship');
        }else{
            is_citizenship_selected = false;
            not_filled('citizenship');
        }
        
        validate_form();
    })
    
    //========================LAST NAME VALIDATION============================//
    var is_last_name_valid = false;
    const last_name = document.getElementById('last_name'); const last_name_status = document.getElementById('last_name_status');

    last_name.addEventListener('input', function(){
        is_last_name_valid = check_for_alphabetical_string(last_name, last_name_status);
        validate_form();
    });

    //========================FIRST NAME VALIDATION============================//
    var is_first_name_valid = false;
    const first_name = document.getElementById('first_name'); const first_name_status = document.getElementById('first_name_status');
    
    first_name.addEventListener('input', function(){
        is_first_name_valid = check_for_alphabetical_string(first_name, first_name_status, is_first_name_valid);
        validate_form();
    });

    function check_for_alphabetical_string(subject, result){
        if(subject.value === ""){
            result.innerHTML = "*necessary information";
            result.style.color = color_standard;
            return false;
        }
        else if(/^[a-zA-ZżółćąęćźŻÓŁĆĄĘĆŹ()]+$/.test(subject.value)){
            correct(subject.id);
            return true;
        }else{
            result.innerHTML = "*invalid information";
            result.style.color = color_incorrect;
            return false;
        }
    }

    //========================E-MAIL VALIDATION============================//
    var is_email_valid = false;
    const email = document.getElementById('email'); const email_status = document.getElementById('email_status');

    email.addEventListener('input', function(){
        is_email_valid = check_email(email, email_status);
        validate_form();
    })

    function check_email(subject, result){
        let regex = new RegExp();
        if(subject.value === ""){
            not_filled(subject.id);
            return false;
        }
        else if(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(subject.value)){
            correct(subject.id);
            return true;
        }else{
            invalid(subject.id);
            return false;
        }
    }

    //========================PHONE NUMBER VALIDATION============================//
    var is_phone_num_valid = false;
    const phone_num = document.getElementById('phone_num'); const phone_num_status = document.getElementById('phone_num_status');

    phone_num.addEventListener('input', function(){
        is_phone_num_valid = check_phone_number(phone_num, phone_num_status);
        validate_form();
    })

    function check_phone_number(subject, result){
        let regex = new RegExp('^\\+(?:[0-9] ?){6,14}[0-9]$');

        if(subject.value === ""){
            result.innerHTML = "*necessary information";
            result.style.color = color_standard;
            return false;
        }
        else if(regex.test(subject.value)){
            correct(subject.id)
            return true;
        }else{
            result.innerHTML = "*invalid information";
            result.style.color = color_incorrect;
            return false;
        }
    }

    //========================CORRESPONDANCE ADDRESS VALIDATION============================//
    var is_corr_valid = false;
    const corr_address = document.getElementById('corr_address'); const corr_address_status = document.getElementById('corr_address_status');

    corr_address.addEventListener('input', function(){
        is_corr_valid = check_corr_address(corr_address, corr_address_status);
        validate_form();
    })

    function check_corr_address(subject, result){
        if(subject.value === ""){
            not_filled(subject.id);
            return false;
        }
        else if(subject.value.length < 10){
            invalid(subject.id);
            return false;
        }else{
            correct(subject.id);
            return true;
        }
    }

    //========================FORM VALIDATION============================//
    const submit_button = document.getElementById('submit_button');

    function validate_form(){
        console.log(is_first_name_valid , is_last_name_valid , is_gender_checked , is_date_entered ,
            is_citizenship_selected , is_id_valid , is_email_valid  , is_phone_num_valid , is_corr_valid ,is_occupation_selected)

        if(is_first_name_valid && is_last_name_valid && is_gender_checked && is_date_entered &&
            is_citizenship_selected && is_id_valid && is_email_valid  && is_phone_num_valid && is_corr_valid && is_occupation_selected){
            activate_submit_button();
        }else{
            deactivate_submit_button();
        }
    }

    function activate_submit_button(){
        submit_button.style.opacity = "1";
        submit_button.style.pointerEvents = "auto";
    }

    function deactivate_submit_button(){
        submit_button.style.opacity = ".2";
        submit_button.style.pointerEvents = "none";
    }
    //========================END FORM VALIDATION============================//       
</script>
{% endblock content %}