html, body{
    background-color: #e6f0f5;
    background: url(../img/background_light.png); /*www.subtlepatterns.com*/
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #F8F7F2;
    height: 100%;
}

header{
    background-color: #31655A;
    margin-left: auto; margin-right: auto;
    height: 100px; width: 600px;
    -webkit-box-shadow: 0px 1px 5px 5px #31655A;
    -moz-box-shadow: 0px 1px 5px 5px #31655A;
    box-shadow: 0px 5px 1px 5px #31655A;
    padding-top: 5px;
}

#logo{
    font-size: 40px;
    font-weight: 100;
    height: 54px; width: 600px;
    text-align: center;
    vertical-align: middle; line-height: 60px;
}
#logo a:link{
    text-decoration: none;
    color: #F8F7F2;
}
#logo a:visited{
    text-decoration: none;
    color: #F8F7F2;
}
#logo a:hover{
    text-decoration: none;
    color: #F8F7F2;
}
#logo a:active{
    text-decoration: none;
    color: #F8F7F2;
}

#logging{
    position: relative;
    width: 300px;
    height: 54px;
    margin-top: 5px;
    margin-left: auto; margin-right: auto;
}

#user_status{
    position: absolute;
    top: 0px; left: 0px;
    min-width: 70px; height: 45px;
    display: inline;
    vertical-align: middle; line-height: 45px;
    text-align: center;
    font-size: 21px; font-weight: 100;
}

#log_in_button{
    position: absolute;
    top: 0px; right: 0px;
    width: 100px;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    color: #FAF3E3;
    margin-left:10px;
    font-weight: 300; font-size: 21px;
}
#log_in_button:hover{  
    background-color: #FAF3E3;
    border-radius: 5px;
    color: rgba(49, 101, 90, 1);
    font-weight: 300;
    cursor: pointer;
    font-weight: 300; font-size: 21px;
    transition: 0.4s;
}

main{
    display: block;
    width: 600px; height: 100vh;
}

#box_searching{
    width: 550px; height: 250px;
    margin-left: auto; margin-right: auto; margin-top: 100px;
    border-radius: 5px;
    background: rgba(49, 101, 90, .75);
    color: #e6f0f5;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(49, 101, 90, .95);
    -moz-box-shadow: 0px 0px 30px -10px rgba(49, 101, 90, .95);
    box-shadow: 0px 0px 30px -10px rgba(49, 101, 90, .95);
    padding-top: 5px;
    
}

#search_tool{
    width: 500px; height: 70px;
    margin-left: auto; margin-right: auto; margin-top: 45px;
}

#search_tool input[type='text']{
    width: 440px; height: 50px;
    font-size: 20px;
    background-color: #FAF3E3;
    color: #4d4d4d;
    border-radius: 5px 0 0 5px; border: none;    
    font-weight: bold;
    border-right: 0;
    margin-right: 0;
    padding-left: 10px; padding-right: 0px;
    font-weight: 300;
}

#search_tool input[type='submit']{
    padding: 0px;
    float: right;
    width: 50px; height: 52px;
    font-size: 20px;
    background-color: #FAF3E3;
    cursor: pointer;
    text-align: center;
    color: #4d4d4d;
    border: 0;
    border-radius: 0 5px 5px 0;
    padding-right: 0;  
}
#search_tool input[type='submit']:hover{    
    color: #FAF3E3;    
    background-color:rgba(49, 101, 90, 1);
    transition: 0.4s;
}

#adv_button{
    width: 180px; height: 30px;
    color: #FAF3E3;
    margin-left: auto; margin-right: auto; transform: translateY(50px);
    font-weight: bold;
    vertical-align: middle; line-height: 32px;
    text-align: center;
    cursor: pointer; 
}
#adv_button:hover{    
    background-color: #FAF3E3;
    transition: 0.3s;
    border-radius: 3px;
    color: #31655A;
}

#adv_options{
    width: 580px; height: 1px;
    margin-left: auto; margin-right: auto;
    display: none;
}

#adv_options input[type="text"]{
    display: block;
    margin-left: auto; margin-right: auto; margin-top: 3%;
    width: 75%; height: 40px;
    background-color: #FAF3E3;
    color: #4d4d4d;
    border-radius: 5px 5px 5px 5px; border: none;
    padding-left: 1%;
}

fieldset{
    display: block;
    margin-left: auto; margin-right: auto;
    border: 0; width: 550px;
}

fieldset input[type="checkbox"]{
    width: 20px; height: 20px;
    margin: 5px; margin-left: 20px;
}

fieldset label{
    float:left;
    width: 180px; height: 20px;
    margin: 5px;
}

#box_logging{
    width: 480px; height: 310px;
    margin-left: auto; margin-right: auto; margin-top: 20vh;
    border-radius: 5px;
    background: rgba(48, 81, 110, .85);
    color: #e6f0f5;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(48, 81, 110, .95);
    -moz-box-shadow: 0px 0px 30px -10px rgba(48, 81, 110, .95);
    box-shadow: 0px 0px 30px -10px rgba(48, 81, 110, .95);
    padding-top: 5px;
    display: none;
}

#box_logging span[id="log_in_sign"]{
    display: block;
    margin-left: auto; margin-right: auto; margin-top: 25px; margin-bottom: 30px;
    width: 180px; height: 40px; font-size: 35px; font-weight: 100;
    text-align: center;
}

#box_logging input[type="text"]{
    display: block;
    margin-left: auto; margin-right: auto;
    width: 250px; height: 40px;
    background-color: #FAF3E3;
    color: #4d4d4d;
    border-radius: 5px 5px 5px 5px; border: none;   
    padding-left: 2%;
}

#box_logging input[type="password"]{
    display: block;
    margin-left: auto; margin-right: auto;
    width: 250px; height: 40px;
    background-color: #FAF3E3;
    color: #4d4d4d;
    border-radius: 5px 5px 5px 5px; border: none;  
    padding-left: 2%;
    margin-top: 20px;
}

#box_logging input[type="submit"]{
    display: block;
    float: right;
    margin-right: 120px;
    width: 100px; height: 30px;
    font-size: 20px;
    background-color: #FAF3E3;
    color: rgba(48, 81, 110, .95);
    border-radius: 5px 5px 5px 5px; border: none;    
    font-weight: bold;
    font-weight: 300;
    margin-top: 20px;
    cursor: pointer;
}

#box_logging span[id="go_back_button"]{
    float: left;
    margin-top: 20px; margin-left: 120px;
    width: 100px; height: 30px;
    font-size: 20px;
    color: #FAF3E3;
    font-weight: 300;
    text-align: center;
    border-radius: 3px;
    vertical-align: middle; line-height: 30px;
}
#box_logging span[id="go_back_button"]:hover{
    color: rgba(48, 81, 110, .95);
    background-color: #FAF3E3;
    cursor: pointer;
    transition: 0.4s;
}

footer{
    position: fixed;
    bottom: 0px;
    height: 30px; width: 600px;
    font-size: 12px;
    vertical-align: middle; line-height: 30px;
    background-color: #31655A;
    text-align: center;
    font-weight: 300;
}
/* For styling placeholders and on focus in text inputs*/
input[type='text']::-webkit-input-placeholder { 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='text']:-moz-placeholder  { /*Firefox < 19*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='text']::-moz-placeholder { /*Firefox > 19*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='text']:-ms-input-placeholder { /*Internet Explorer 10*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='text']:focus{
    font-family: 'Roboto', sans-serif;
    outline: none;
}
/* For styling placeholders and on focus in password inputs*/
input[type='password']:focus{
    font-family: 'Roboto', sans-serif;
    outline: none;
}
input[type='password']::-webkit-input-placeholder { 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='password']:-moz-placeholder  { /*Firefox < 19*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='password']::-moz-placeholder { /*Firefox > 19*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='password']:-ms-input-placeholder { /*Internet Explorer 10*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}