* {
  margin: 0px;
  padding: 0px;
}

html, body {
  background-color: #e6f0f5;
  color: #F8F7F2;
  background: url(../img/background_light.png);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
  color: #F8F7F2;
  transition: color 0.4s;
}
a:hover {
  color: #F8D872;
}
input[type=submit] {
  border: 0px;
  background-color: #FFFFFF;
}

input[type=text], input[type=password] {
  border: 0px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding-left: 2%;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-color: #F8D872;
}

label {
  display: inline-block;
  white-space: nowrap;
}
label:hover {
  cursor: pointer;
}

fieldset {
  border: 0px;
}

header {
  position: relative;
  background-color: #31655a;
  height: 120px;
  width: 100vw;
}

#logo {
  box-sizing: border-box;
  position: absolute;
  width: 225px;
  height: 120px;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 27px;
  font-weight: 300;
  float: left;
}
#logo img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  float: left;
}
#logo a:hover {
  color: #F8F7F2;
}

#logging {
  position: absolute;
  top: 20%;
  right: 2%;
  box-sizing: border-box;
  font-weight: 300;
}
#logging #user_status {
  display: block;
  font-weight: 100;
  font-size: 20px;
}
#logging #log_in_button {
  float: right;
  text-align: right;
  transition: color, 0.4s;
  margin-top: 10px;
  transition: color 0.4s;
}

h1 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 20px 0px 0px 40px;
}