/*Konrad Maciejczyk, 2021-2022*/
html, body{
    background-color: #e6f0f5;  
    background: url(../img/background_light.png); /*www.subtlepatterns.com*/ 
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #F8F7F2;
    height: 100%;
}

header{
    position: relative;
    background-color: #31655A;
    margin-left: auto; margin-right: auto;
    height: 120px; width: 100vw;
    transition: background-color .4s;    
}

#logo{
    display: block;
    position: absolute;
    width: 200px; height: 100%;
    top: 8%; left: 1%;
    font-size: 28px;
    font-weight: 100;

}
#logo img{
    float: left;
    width: 80px; height: 80px;
    margin-right: 20px; margin-top: 10px;
    vertical-align: middle; line-height: 120px;
}
#logo a:link{
    text-decoration: none;
    color: #F8F7F2;
}
#logo a:visited{
    text-decoration: none;
    color: #F8F7F2;
}
#logo a:hover{
    text-decoration: none;
    color: #F8F7F2;
}
#logo a:active{
    text-decoration: none;
    color: #F8F7F2;
}

@media (max-width: 900px){
    #logging{
        position: absolute;
        right: 3%; top: 30px;
        min-width: 100px; height: 120px;
    }
    #log_in_button{
        font-size: 21px;
        transition: color 0.4s;
    }
    #user_status{
        
        min-width: 70px; min-height: 54px;
        display: inline;
        text-align: center;
        font-size: 16px; font-weight: 100;
    }

    #search_tool{
        position: absolute;
        width: 40vw; height: 70px;
        top: 25%; left: 35%;
    }
}
@media (min-width: 901px){
    #logging{
        position: absolute;
        right: 0px; top: 0px;
        min-width: 250px; height: 60px;
    }
    #log_in_button{
        min-width: 120px;
        height: 59px;
        vertical-align: middle; line-height: 60px;
        float: right;        
        text-align: center;
        color: #FAF3E3;
        margin-left:10px;
        font-weight: 300; font-size: 21px;
        transition: color 0.4s;
    }
    #user_status{
    float: left;
    right: 150px;
    min-width: 70px; min-height: 54px;
    display: inline;
    vertical-align: middle; line-height: 60px;
    text-align: center;
    font-size: 21px; font-weight: 100;
    }

    #search_tool{
        position: absolute;
        width: 40vw; height: 70px;
        top: 25%; left: 30%;
        
    }
}

#log_in_button:hover{
    color: #F8D872;
    cursor: pointer;
}
#logging_tool{
    display: none;
    position: absolute;
    width: 28vw; height: 70px;
    top: 15%; left: 37vw;
}
#logging_tool input[type="text"]{
    width: 13vw; height: 30px;
    color: #4d4d4d;
    background-color: white;
    border-radius: 5px 5px 5px 5px; border: none;   
    padding-left: 1%;
}
#logging_tool input[type="password"]{
    width: 13vw; height: 30px;
    color: #4d4d4d;
    background-color: white;
    border-radius: 5px 5px 5px 5px; border: none;   
    padding-left: 1%;
}
#logging_buttons{
    display: none;
    position: absolute;
    width: 27vw; height: 70px;
    top: 80%;
}
#logging_buttons input[type="submit"]{
    float: right;
    background-color: white;
    width: 60px; height: 30px;
    font-size: 15px;
    color: rgba(48, 81, 110, .95);
    border-radius: 5px 5px 5px 5px; border: none;    
    font-weight: 300;    
    cursor: pointer;
}
#logging_buttons span[id="go_back_button"]{
    float: left;
    width: 70px; height: 30px;
    font-size: 20px; font-weight: 300;
    text-align: center;
    border-radius: 3px;
    vertical-align: middle; line-height: 30px;
    
}
#logging_buttons span[id="go_back_button"]:hover{
    color: #F8D872;
    cursor: pointer;
    transition: 0.4s;
}

#search_tool input[type='text']{
    width: 87%; height: 50px;
    font-size: 20px;
    background-color: white;
    color: #4d4d4d;
    border-radius: 5px 0 0 5px; border: none;    
    font-weight: bold;
    border-right: 0;
    margin-right: 0;
    padding-left: 2%; padding-right: 0px;
    font-weight: 300;
}

#search_tool input[type='submit']{
    padding: 0px;
    float: right;
    width: 11%; height: 52px;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    color: #4d4d4d;
    border: 0;
    border-radius: 0 5px 5px 0;    
}

#search_tool input[type='submit']:hover{    
    color: #FAF3E3;    
    background-color:#30516e;
    transition: 0.4s;
}

#filter{
    position: relative;
    width: 70vw; min-height: 100px;
    background-color: rgba(49, 101, 90, .6);
    border-radius: 5px;
    margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 5px;
    padding-top: 20px;
    border: 3px solid rgba(48, 81, 110, .15)
}

#filter_options fieldset{
    width: 80%; padding: 0; margin: 0;
    border: 0; margin-bottom: 15px; margin-left: 19%;
}

#filter_options label{
    color: rgba(48, 81, 110, 1); margin-right: 7%;
    
}
#filter_options input[type="checkbox"]{
    width: 18px; height: 18px;
}

#filter_options input[type="text"]{
    position: absolute;
    width: 30%; padding: 0;
    display: block; height: 30px;
    color: #4d4d4d;
    background-color: white;
    border-radius: 5px 5px 5px 5px; border: none;
    border: 3px solid rgba(48, 81, 110, .3);
    padding-left: 1%;
    top: 70px; left: 15%;
}

#apply_button{
    position: absolute;
    background-color: rgba(49, 101, 90, 1);
    color: white;
    width: 120px; height: 40px;
    text-align: center;
    vertical-align: middle; line-height: 40px;
    border-radius: 3px;
    top: 70px; right: 15%;
    transition: background-color .5s, color .5s;
}
#apply_button:hover{
    background-color: #30516e;
    color: #F8D872;
    cursor: pointer;
}

main{
    margin-left: auto; margin-right: auto;
    background-color: white;
    width: 70vw; height: 1000px;
    border: 3px solid rgba(48, 81, 110, .15);
    border-radius: 5px;
    
}

#info_results{
    display: block;
    font-weight: 300;
    color: #202020;
    background-color: rgba(49, 101, 90, .60);
    border-radius: 3px;
    width: 97%; min-height: 20px;
    margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 20px;
    padding: 1%;
}
#result{
    position: relative;
    color: black;
    border: 3px solid rgba(48, 81, 110, .15);
    width: 98%; height: 250px;
    margin-left: auto; margin-right: auto; margin-top: 5px; margin-bottom: 10px;
    border-radius: 5px;
}

#no{
    position: absolute;
    font-weight: 300;
    top: 10px; left: 1%;
    font-size: 25px;
}
#item_type{
    position: absolute;
    font-size: 30px;
    top: 20%; left: 1%;
    cursor: default;
}

.bold_text{
    font-weight: bold;
}

#infos{
    position: absolute;
    top: 10px; left: 75px;
    width: 65%;
}
.info{
    line-height: 22px;
}

#picture{
    position: absolute;
    top: 10px; right: 2%;
    width: 120px; height: 120px;
}

#picture img{
    display: block;
    margin-left: auto; margin-right: auto;
    max-width: 180px; height: 180px;
    transition: height .5s, width .5s;
}
#picture img:hover{
    display: block;
    margin-left: auto; margin-right: auto;
    max-width: 190px; height: 190px;
    cursor: pointer;
}

#order_button{
    position: absolute;
    bottom: 5%; right: 3.5%;
    color:rgb(0, 0, 0);
    font-weight: 300;
}


/* For styling placeholders and on focus in text inputs*/
input[type='text']::-webkit-input-placeholder { 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='text']:-moz-placeholder  { /*Firefox < 19*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='text']::-moz-placeholder { /*Firefox > 19*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='text']:-ms-input-placeholder { /*Internet Explorer 10*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='text']:focus{
    font-family: 'Roboto', sans-serif;
    outline: none;
}
/* For styling placeholders and on focus in password inputs*/
input[type='password']:focus{
    font-family: 'Roboto', sans-serif;
    outline: none;
}
input[type='password']::-webkit-input-placeholder { 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='password']:-moz-placeholder  { /*Firefox < 19*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='password']::-moz-placeholder { /*Firefox > 19*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input[type='password']:-ms-input-placeholder { /*Internet Explorer 10*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}




