/* Konrad Maciejczyk, 2021 */
* {
  margin: 0px;
  padding: 0px;
}

html, body {
  background-color: #e6f0f5;
  color: #F8F7F2;
  background: url(../img/background_light.png);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
  color: #F8F7F2;
  transition: color 0.4s;
}
a:hover {
  color: #F8D872;
}
input[type=submit] {
  border: 0px;
  background-color: #FFFFFF;
}

input[type=text], input[type=password] {
  border: 0px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding-left: 2%;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-color: #F8D872;
}

label {
  display: inline-block;
  white-space: nowrap;
}
label:hover {
  cursor: pointer;
}

fieldset {
  border: 0px;
}

header {
  position: relative;
  background-color: #31655a;
  height: 120px;
  width: 100vw;
}

#logo {
  box-sizing: border-box;
  position: absolute;
  width: 225px;
  height: 120px;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 27px;
  font-weight: 300;
  float: left;
}
#logo img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  float: left;
}
#logo a:hover {
  color: #F8F7F2;
}

#logging {
  position: absolute;
  top: 20%;
  right: 2%;
  box-sizing: border-box;
  font-weight: 300;
}
#logging #user_status {
  display: block;
  font-weight: 100;
  font-size: 20px;
}
#logging #log_in_button {
  float: right;
  text-align: right;
  transition: color, 0.4s;
  margin-top: 10px;
  transition: color 0.4s;
}

input[type=checkbox] {
  width: 15px;
  height: 15px;
  border: 1px solid #F8D872;
}

label {
  width: 150px;
  font-size: 12px;
}

.bold_text {
  font-weight: 400;
}

.pop_up_info {
  font-size: 14px;
}

.item_type {
  box-sizing: border-box;
  display: block;
  padding: 10px;
  cursor: default;
}

.result_no {
  box-sizing: border-box;
  margin-top: 5px;
  padding: 10px;
  font-weight: 400;
}

.left_margin {
  box-sizing: border-box;
  min-width: 1%;
  min-height: 100%;
  display: inline-block;
  margin-top: 10px;
  padding-left: 2%;
  padding-right: 3%;
  vertical-align: top;
}

.pop_up {
  display: none;
  position: fixed;
  min-width: 200px;
  min-height: 100px;
  background-color: #F8F7F2;
  padding: 10px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 200ms ease-in-out;
  color: black;
  z-index: 10;
}

.pop_up_close {
  float: right;
  margin-right: 20px;
  margin: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 30px;
  transition: background-color 0.4s;
  color: black;
}
.pop_up_close:hover {
  cursor: pointer;
  background-color: gray;
}

.show_more_button {
  display: block;
  text-decoration: underline;
  margin-top: 50px;
  color: #30516e;
  width: 200px;
  font-weight: 400;
}

.show_more_button:hover {
  cursor: pointer;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#pop_up {
  display: none;
  position: fixed;
  width: 800px;
  min-height: 200px;
  background-color: #F8F7F2;
  padding-bottom: 20px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 10;
}
#pop_up #pop_up_header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid lightgray;
}
#pop_up #pop_up_title {
  display: inline-block;
  width: 70%;
  height: 100%;
  margin-left: 10%;
  vertical-align: middle;
  line-height: 40px;
}
#pop_up #pop_up_main_content {
  display: inline-block;
  width: 83%;
  min-height: 40%;
  vertical-align: top;
  margin-top: 10px;
}
#pop_up #pop_up_add_item {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #31655a;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 3px;
  transition: background-color 0.4s;
}
#pop_up #pop_up_add_item:hover {
  cursor: pointer;
  background-color: #30516e;
}

#pop_up_cover {
  display: none;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F8F7F2;
  max-width: 800px;
  min-height: 200px;
  border-radius: 10px;
  padding-bottom: 40px;
}
#pop_up_cover img {
  display: block;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #30516e;
  max-width: 700px;
  margin-top: 40px;
}

input[type=text] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px 3px 3px 3px;
  margin-top: 10px;
  border: 1px solid #31655a;
  height: 30px;
  width: 50%;
}
input[type=text]:nth-child(2) {
  margin-bottom: 20px;
}

#filter {
  box-sizing: border-box;
  width: 800px;
  background-color: #F8F7F2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  color: black;
  padding: 20px;
}
#filter fieldset {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
#filter #show_only_available {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#filter #apply_button {
  background-color: #31655a;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 14px;
  color: white;
  transition: background-color 0.4s;
}
#filter #apply_button:hover {
  cursor: pointer;
  background-color: #30516e;
}
#filter #order_status {
  margin-top: 15px;
  margin-left: 5vw;
}

main {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 5px;
  color: black;
  width: 800px;
}

#search_summary {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(49, 101, 90, 0.7);
  padding: 10px;
  font-size: 12px;
}

.result {
  min-height: 180px;
  background-color: white;
  border-bottom: 1px solid #6d6d6d;
}

.cover_image {
  width: 110px;
  height: 180px;
  float: right;
  position: relative;
}
.cover_image img {
  position: absolute;
  box-sizing: border-box;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #30516e;
}
.cover_image span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 160px;
  opacity: 0;
  transition: opacity 0.4s;
}
.cover_image span:hover {
  cursor: pointer;
  opacity: 0.7;
}

.result_infos {
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 65%;
}

.result:last-child {
  border-bottom: none;
}

@media (max-width: 600px) {
  header {
    height: 60px;
  }
  header #logo {
    padding: 5px;
    font-size: 13px;
    height: 60px;
    width: 130px;
  }
  header #logo img {
    margin-right: 1vw;
    width: 50px;
    height: 50px;
  }

  .show_more_button {
    margin-top: 10px;
    width: 150px;
  }

  #logging {
    height: 60px;
    min-width: 130px;
    top: 10%;
    right: 2%;
  }
  #logging #user_status {
    font-size: 10px;
    text-align: right;
    width: 100%;
  }
  #logging #log_in_button {
    width: 80px;
    height: 4vh;
    margin-top: 5px;
    font-size: 16px;
  }

  input[type=text] {
    width: 80%;
    height: 35px;
  }

  #filter {
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    width: 95vw;
    padding-top: 10px;
  }
  #filter fieldset {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 12px;
  }

  main {
    min-height: 150px;
    margin-top: 5px;
    width: 100vw;
  }

  #pop_up {
    width: 98vw;
  }
  #pop_up #pop_up_title {
    margin-left: 55px;
    width: 100px;
  }

  #pop_up_cover {
    width: 95vw;
  }
  #pop_up_cover img {
    width: 70vw;
  }

  .result {
    min-height: 100px;
  }
  .result .left_margin {
    width: 10%;
    height: 80px;
  }
  .result .result_infos {
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 65%;
  }
  .result .cover_image {
    float: right;
    position: relative;
    width: 60px;
    height: 100px;
  }
  .result .cover_image img {
    box-sizing: border-box;
    width: 55px;
    border: 2px solid #30516e;
  }
  .result .cover_image span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    opacity: 0;
    transition: opacity 0.4s;
  }
  .result .cover_image span:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
/* For styling placeholders and on focus in text inputs*/
input[type=text]::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text]:-moz-placeholder {
  /*Firefox < 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text]::-moz-placeholder {
  /*Firefox > 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text]:-ms-input-placeholder {
  /*Internet Explorer 10*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text]:focus {
  font-family: "Roboto", sans-serif;
  outline: none;
}

/* For styling placeholders and on focus in password inputs*/
input[type=password]:focus {
  font-family: "Roboto", sans-serif;
  outline: none;
}

input[type=password]::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]:-moz-placeholder {
  /*Firefox < 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]::-moz-placeholder {
  /*Firefox > 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]:-ms-input-placeholder {
  /*Internet Explorer 10*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}