{% extends 'worker_side/base.html' %}
{% load static %}

{% block title %}Log in to Online Library Catalog for librarian{% endblock title %}
{% block styles %} <link rel="stylesheet" type="text/css" href="{% static 'worker_side/css/log_in.css' %}" media="screen"> {% endblock styles %} 
{% block content %}
    <main>   
        <div id="box_logging" style="display: block;">
                <span  id="log_in_sign">Sign in</span>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit"  value="Log in"/>
                </form>
        </div>            
    </main>    
        <footer>2021-2022 by Konrad Maciejczyk, University of Silesia</footer>
        <script type="text/javascript" src="{% static 'user_side/basic_algorithms.js' %}"></script>
{% endblock content %}