{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Password reset complete{% endblock title %}
{% block styles %} <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}" media="screen"> {% endblock styles %} 
{% block content %}

{% for error in form.non_field_errors %}
    <span class="error">{{ error }}</span>
{% endfor %}
    <main>
       <h1>Your password has been set</h1>
       <a href="{% url 'log_in' %}"><input type="submit" id="go_to_login" value="Go to sign in page"></input></a>   
    </main>    
    <footer>2021-2022 by <a href="https://www.github.com/konradmaciejczyk" rel="author" target="_blank" title="github profile">Konrad Maciejczyk</a>, University of Silesia</footer>
        <script type="text/javascript" src="{% static 'user_side/basic_algorithms.js' %}"></script>
{% endblock content %}