{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Choose new password{% endblock title %}
{% block styles %} <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}" media="screen"> {% endblock styles %} 
{% block content %}

{% for error in form.non_field_errors %}
    <span class="error">{{ error }}</span>
{% endfor %}
    <main>
        <div id="box_logging">
            <span  id="log_in_sign">Reset password</span>
            <form method="POST">
                {% csrf_token %}
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Enter new password" onblur="this.placeholder='Enter new password'" onfocus="this.placeholder=''">
                <p id="password_note">Your password must contain at least 8 characters.</p>
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Repeat new password" onblur="this.placeholder='Repeat new password'" onfocus="this.placeholder=''">  
                <input type="submit" value="Submit" id="password_reset_submit">
            </form>  
        </div> 
    </main>    
    <footer>2021-2022 by <a href="https://www.github.com/konradmaciejczyk" rel="author" target="_blank" title="github profile">Konrad Maciejczyk</a>, University of Silesia</footer>
    <script type="text/javascript" src="{% static 'user_side/basic_algorithms.js' %}"></script>
{% endblock content %}