{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Request password reset{% endblock title %}
{% block styles %} <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}" media="screen"> {% endblock styles %} 
{% block content %}

{% for error in form.non_field_errors %}
    <span class="error">{{ error }}</span>
{% endfor %}
    <main>
        <div id="box_request_password">
            <span  id="request_sign">Request password reset</span>
            <form method="POST">
                {% csrf_token %}
                <input type="email" id="email_reset"  placeholder="E-mail address" onfocus="this.placeholder = '';" onblur="this.placeholder='E-mail address'" name="email">
                <input type="submit" id="email_reset_button" value="Send request on email"></input>
            </form>
        </div>           
    </main>    
    <footer>2021-2022 by <a href="https://www.github.com/konradmaciejczyk" rel="author" target="_blank" title="github profile">Konrad Maciejczyk</a>, University of Silesia</footer>
        <script type="text/javascript" src="{% static 'user_side/basic_algorithms.js' %}"></script>
{% endblock content %}