{% extends 'user_side/base.html' %}
{% load static %}
{% block title %}Order summary{% endblock title %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_side/css/cart.css' %}" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
{% endblock styles %}
{% block content %}
    <main>
        <h1>You're about to order following items:</h1>

        {% for result in results %}
                <div class="single_result">
                    <div class="result_no">{{ forloop.counter }}.
                        {% if result.type is 1 %}
                            <i class="fas fa-book-open" title="Book"></i>
                        {% elif result.type is 2 %}
                            <i class="fas fa-film" title="Movie/Film"></i>
                        {% elif result.type is 3 %}
                            <i class="fas fa-compact-disc" title="Sound recording"></i>
                        {% endif %}
                        {% if user.is_staff is False and user.is_authenticated %}
                            <input type="checkbox" class="add_to_cart" title="Add to order list" data-item="{{ result.type }}-{{ result.id }}" checked>
                        {% endif %}
                    </div>
                
                        <div class="item_info"> 
                            <ul>
                                <li><span class="text_bold">ID: </span>{{ result.id }}</li>
                                <li><span class="text_bold">Title: </span>{{ result.title }}</li>
                                <li><span class="text_bold">Full title: </span>{{ result.full_title }}</li>
                                {% if result.author %}<li><span class="text_bold">Author: </span>{{ result.author }}</li>{% endif %}                                
                                {% if result.director %}<li><span class="text_bold">Director: </span>{{ result.director }}</li>{% endif %}
                                {% if result.screenwriter %}<li><span class="text_bold">Screenwriter: </span>{{ result.screenwriter }}</li>{% endif %}
                                {% if result.cast %}<li><span class="text_bold">Cast: </span>{{ result.cast }}</li>{% endif %}   
                                <li><span class="text_bold">Publication year: </span>{{ result.pub_year }}</li>
                                {% if result.publisher %}<li><span class="text_bold">Publisher: </span>{{ result.publisher }}</li>{% endif %}
                                {% if result.isbn %}<li><span class="text_bold">ISBN: </span>{{ result.isbn }}</li>{% endif %}
                                <li><span class="text_bold">Description: </span>{{ result.description }}</li>
                                <li><span class="text_bold">Condition: </span>{{ result.condition }}</li>
                                <li><span class="text_bold">Availability: </span><span class="text_bold green">{{ result.availability }}</span></li>                                
                            </ul>
                        </div>

                    <div class="cover" onclick="show_pop_up(`{{ result.title }}`, `{{ result.cover }}`);">
                        <img class="image" src="{{ result.cover }}">
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
            {% endfor %}

            <p>Your account allows you to order <span id="client_borrows">{{ client_borrows }}</span> more items.</p>
            <p class="order_warning">You can't order more than {{ client_borrows }} items</p>
            
            <div id="buttons">
                <a href="{% url 'user_side-home' %}" id="go_back">Return to search page</a>
                <form method="POST">
                    {% csrf_token %}
                    <button id="order_button">Order items</button>
                </form>                
            </div>
    </main>
    <div id="overlay"></div>
    <div id="cover_pop_up">
        <div class="pop_up_header">
            <p id="pop_up_title"></p><i class="fas fa-times" onclick="hide_pop_up();"></i>
        </div>
        
        <img id="pop_up_image" src="#">
    </div>
    {{ items_amount|json_script:"items_amount" }}
    <script type="text/javascript">
        const overlay = document.getElementById('overlay');
        const pop_up = document.getElementById('cover_pop_up');
        const pop_up_title = document.getElementById('pop_up_title');
        const pop_up_image = document.getElementById('pop_up_image');
        var items_amount = JSON.parse(document.getElementById('items_amount').textContent).length;
        const borrows_available = parseInt(document.getElementById('client_borrows').innerHTML);
        const order_button = document.getElementById('order_button');
        const order_warning = document.querySelector('.order_warning');

        function hide_pop_up(){
            overlay.style.display = 'none';
            pop_up.style.display = 'none';
        }

        function show_pop_up(title, cover){
            pop_up_title.innerHTML = title;
            pop_up_image.src = cover;
            overlay.style.display = 'block';
            pop_up.style.display = 'block';
        }

        function update_cart(op){
            switch(op){
                case 1:{ 
                    console.log("Item added ", items_amount);
                    break;
                }case 2:{                
                    console.log("Item deleted ", items_amount);
                    break;
                }
            }
        }
        
        function validate_borrows(){
            console.log(borrows_available);
            if (borrows_available - items_amount < 0){
                order_button.style.opacity = '.2';
                order_button.style.pointerEvents = 'none';
                order_warning.style.opacity = '1';
            }else{
                order_button.style.opacity = '1';
                order_button.style.pointerEvents = 'auto';
                order_warning.style.opacity = '0';
            }
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        function update_user_order(item, action){
            var url = '/update-item/';

            fetch(url, {
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({'productID': item, 'action':action})
            }).then((response) =>{
                return response.json()
            }).then((data) => {
                console.log('data:', data);
                items_amount = data.length;
                validate_borrows();
                
            })
        }

        const add_to_cart = document.querySelectorAll('.add_to_cart');
        for(let i=0; i< add_to_cart.length; i++){
            add_to_cart[i].addEventListener('click', function(){
                if (this.checked){
                    update_cart(1);
                    update_user_order(add_to_cart[i].dataset.item, 1);
                }else{
                    update_cart(2);
                    update_user_order(add_to_cart[i].dataset.item, 2);
                }
            })
        }
        validate_borrows();
        
    </script>
{% endblock content %}