{% extends "user_side/base.html" %}
{% load static %}
{% block title %}Online Library Catalog{% endblock title %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'user_side/css/home.css' %}" media="screen">{% endblock styles %}
{% block scripts %}
    <script type="text/javascript">
        var item_types;
        var item_length;
        var isAllSelected = true;

        function findCheckboxes(){
            item_types = document.querySelectorAll('[name="item_type"]');
            item_length = item_types.length;
            selectAll();
        }

        
        function selectAll(){                
            item_types.forEach(function(item){
                item.checked = true;
            })
        }

        function deselectAll(){
            item_types[0].checked = true;

            for(var i = 1; i<item_length; i++){
                item_types[i].checked = false;
            }
        }

        function select_deselect(){
            if(isAllSelected){
                deselectAll();
                isAllSelected = !isAllSelected;
            }else{
                selectAll();
                isAllSelected = !isAllSelected;
            }
        }

        function update_checkbox(){
            var checked_counter = 0;

            for(var i=0; i<item_length - 1; i++){
                if(item_types[i].checked === true ){
                    checked_counter++;
                }
            }
            switch(checked_counter){
                case 5:{
                    item_types[item_length - 1].checked = true; break;
                }
                case 0:{
                    item_types[0].checked = true; break;
                }
                default:{
                    item_types[item_length-1].checked = false;
                }
                
            }
        }

        window.onload = findCheckboxes
    </script>
{% endblock scripts %}
{% block content %}
    <main>   
        <section id="box_searching" role="search">
            <div id="search_tool">
                <input type="text" autocomplete="off" name="search" placeholder="Search in resources" onfocus="this.placeholder=''" onblur="this.placeholder='Search in resources'"/>
                <input type="submit" value="&#xe800;" style="font-family:fontello"/>                   
            </div> 
                <input id="author_bar" type="text" autocomplete="off" placeholder="Enter author name" onfocus="this.placeholder=''" onblur="this.placeholder='Enter author name'">
                <fieldset>
                    <label><input type="checkbox" name="item_type" onclick="update_checkbox()">Books</label>
                    <label><input type="checkbox" name="item_type" onclick="update_checkbox()">Movies/Films</label>
                    <label><input type="checkbox" name="item_type" onclick="update_checkbox()">Sound Recordings</label>
                    <label><input type="checkbox" name="item_type" onclick="update_checkbox()">Images</label>
                    <label><input type="checkbox" name="item_type" onclick="update_checkbox()">Articles</label>
                    <label><input type="checkbox" name="item_type" onclick="select_deselect()">All</label>
                </fieldset>     
        </section>        
    </main>    
    <footer>2021-2022 by Konrad Maciejczyk, University of Silesia</footer>
    <script type="text/javascript" src="{% static 'user_side/basic_algorithms.js' %}"></script>
{% endblock content %}