{% extends 'user_side/base.html' %}
{% load static %}

{% block styles %} <link rel="stylesheet" type="text/css" href="{% static 'user_side/css/home.css' %}" media="screen"> {% endblock styles %} 
{% block content %}
    <main>   
        <div id="box_logging" style="display: block;">
                <span  id="log_in_sign">Sign in</span>
                <input type="text" id="cos" autocomplete="email" placeholder="Enter your email address" onfocus="this.placeholder=''" onblur="this.placeholder='Enter your email address'"/>
                <input type="password" autocomplete="current-password" placeholder="Enter your password" onfocus="this.placeholder=''" onblur="this.placeholder='Enter your password'"/>
                <input type="submit"  value="Log in"/>
        </div>            
    </main>    
        <footer>2021-2022 by Konrad Maciejczyk, University of Silesia</footer>
        <script type="text/javascript" src="{% static 'user_side/basic_algorithms.js' %}"></script>
{% endblock content %}