{% extends 'user_side/base.html' %}
{% load static %}

{% block title %} {{ user.first_name }}'s informations page - Online Library Catalog{% endblock title %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_side/css/profile.css' %}" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}
{% block content %} 
    {% if messages %}
        {% for message in messages %}
            <div class="op_status {{ message.tags }}"><i class="fas fa-info"></i>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <main>
        <nav>
            <div id="informations_tab" class="nav_tab active">
                User's informations
            </div>
            <div id="borrows_tab" class="nav_tab">
                User's borrows
            </div>
        </nav>
        <section id="user_info">
            <h1>{{ user.first_name }}'s personal informations</h1>
            <ul>
                <li>
                    <span class="info_label">Name and surname:</span><span class="info_content">{{ user.first_name }} {{ user.last_name }}</span>
                </li>
                <li>
                    <span class="info_label">Email address:</span><span class="info_content">{{ user.email }}<i class="far fa-edit edit_button" id="change_email"></i></span>
                </li>
                <li>
                    <span class="info_label">Phone number:</span><span class="info_content">{{ user.phone_number }}<i class="far fa-edit edit_button" id="change_phone_num"></i></span>
                </li>
                <li>
                    <span class="info_label">Correspondance address:</span><span class="info_content">{{ client.corr_address }}<i class="far fa-edit edit_button" id="change_addr"></i></span>
                </li>
                <li>
                    <span class="info_label">Date of birth:</span><span class="info_content">{{ client.date_of_birth }}</span>
                </li>
                <li>
                    <span class="info_label">Identity document:</span><span class="info_content">{{ client.id_type }} ({{ client.id_number }})</span>
                </li>
                <li>
                    <span class="info_label">Citizenship:</span><span class="info_content">{{ client.citizenship.name }}</span>
                </li>
                <li>
                    <span class="info_label">Occupation:</span><span class="info_content">{{ client.occupation.name }}</span>
                </li>
            </ul>
            <h1>Account data</h1>
            <ul>
                <li>
                    <span class="info_label">Max amount of borrowed items:</span> {{ client.borrows_max }}                    
                </li>
                <li>
                    <span class="info_label">Current amount of borrowed items:</span> {{ client.current_borrows }}
                </li>
            </ul>
            <button id="save_button">Save</button><div style="clear: both;"></div>
        </section>
        <section id="user_borrows">
            <table>
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        Item info
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                {% for client_item in client_items %}
                    <tr>
                        <td>
                            {{ forloop.counter }}.
                        </td>
                        <td>
                            <ul>
                                <li>
                                    {{ client_item.0.item_type }}
                                </li>
                                <li>
                                    {{ client_item.0.item.title }}
                                </li>
                                <li>
                                    ID: {{ client_item.0.item.id }}
                                </li>
                            </ul>
                        </td>
                        <td>
                            {% if client_item.0.status.id == 3 %}
                                Return date: {{ client_item.0.item.due_date }}
                            {% else %}
                                {{ client_item.0.status.name }}
                            {% endif %}
                            {% if client_item.1 is True %}
                                </br><span class="prolong" data-prolong="{{ client_item.0.item_type }}-{{ client_item.0.id }}">Prolong</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    </main>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{ user_data.email }}">
        <input type="hidden" name="corr_address" value="{{ user_data.corr_address }}">
        <input type="hidden" name="phone_number" value="{{ user_data.phone_num }}">
    </form>
    {{ user_data|json_script:"user_data_to_change" }}
    <a href="{% url 'user_side-cart' %}" title="Proceed to order summary" target="_blanc">
        <div class="cart" >
            <i class="fas fa-shopping-bag"></i> <span id="items_number" class="text_bold">{{ cart_status }}</span> item(s) selected
        </div>
    </a>
    <script type="text/javascript" src="{% static 'user_side/basic_algorithms.js' %}"></script>
    <script type="text/javascript">
        const edit_buttons = document.querySelectorAll('.edit_button');
        const prolong_buttons = document.querySelectorAll('.prolong');
        const user_data_to_change = JSON.parse(document.getElementById('user_data_to_change').textContent);
        const save_button = document.getElementById('save_button');

        save_button.addEventListener('click', () => {
            let email = document.getElementsByName('email')[0];
            let phone_num = document.getElementsByName('phone_number')[0];
            let corr_address = document.getElementsByName('corr_address')[0];

            email.value = user_data_to_change['email'];
            phone_num.value = user_data_to_change['phone_num'];
            corr_address.value = user_data_to_change['corr_address'];

            document.querySelector('form').submit();
        })

        const tabs_buttons = new Array(document.getElementById('informations_tab'), document.getElementById('borrows_tab'));
        tabs_buttons[0].addEventListener('click', (tab) => {
            tab.target.classList.add('active');
            tabs_buttons[1].classList.remove('active');
            toggleDivs('user_borrows', 'user_info', 15);
        })

        tabs_buttons[1].addEventListener('click', (tab) => {
            tab.target.classList.add('active');
            tabs_buttons[0].classList.remove('active');
            toggleDivs('user_info', 'user_borrows', 15);
        })
        
        prolong_buttons.forEach((button) => {
            button.addEventListener('click', (item) => {
                prolong(item.target.dataset.prolong);
            })
        })

        function prolong(item){
            let csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value
            fetch("/profile/prolong-item/", {
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf_token
                },
                body: JSON.stringify({'item': item})
            }).then((response) => {
                return response.json()
            }).then((response_json) => {
                if (response_json === 'OK!'){
                    window.location.reload();
                }
            })
        }
        

        function activate_input(button){
            let pElement = button.target.parentNode;
            switch(button.target.id){
                case 'change_email':{                    
                    pElement.innerHTML = `<input id="email_input" type="text">`;
                    let email_input = document.getElementById('email_input');
                    email_input.value = user_data_to_change['email']
                    email_input.focus();

                    email_input.addEventListener('blur', (item) => {
                        user_data_to_change['email'] = item.target.value;
                    })
                   
                    break;
                }case 'change_phone_num':{                    
                    pElement.innerHTML = `<input id="phone_input" type="text">`;
                    let phone_input = document.getElementById('phone_input');
                    phone_input.value = user_data_to_change['phone_num'];
                    phone_input.focus();

                    phone_input.addEventListener('blur', (item) => {
                        user_data_to_change['phone_num'] = item.target.value;
                    })
                    break;
                }case 'change_addr':{
                    pElement.innerHTML = `<input id="addr_input" type="text">`;
                    let addr_input = document.getElementById('addr_input');
                    addr_input.value= user_data_to_change['corr_address'];
                    addr_input.focus()

                    addr_input.addEventListener('blur', (item) => {
                        user_data_to_change['corr_address'] = item.target.value;
                    })
                    break;
                }
            }
        }

        edit_buttons.forEach((button) => {
            button.addEventListener('click', (item) => {
                save_button.style.visibility = 'visible';
                activate_input(item);
            })
        })

        function initiate_cart(){
            const cart_status = document.getElementById('items_number').innerHTML;
            const cart = document.querySelector('.cart');
            if (parseInt(cart_status) > 0){
                cart.style.transform = 'scale(1)';
            }else{
                cart.style.transform = 'scale(0)';
            }
        }



        initiate_cart();
    </script>
{% endblock content %}
