{% extends 'user_side/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'user_side/css/search.css' %}" media="screen"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}
{% block content %}
    <main>
        <div class="filter">
            <form method="GET">
                <input type="text" name="title" placeholder="Enter search phrase", onfocus="this.placeholder='';", onblur="this.placeholder='Enter search phrase';">
                <input type="text" name="author" placeholder="Enter author name" onfocus="this.placeholder='';" onblur="this.placeholder='Enter author name';">

                <label><input type="checkbox" name="book" id="item_type">Book</label>
                <label><input type="checkbox" name="movie" id="item_type">Movie</label>
                <label><input type="checkbox" name="sr" id="item_type">Sound recording</label>
                <label><input type="checkbox" id="item_type">All</label>

                <label id="not_available"><input type="checkbox" name="not_available">Show unavailable items</label>
                <label for="on_site">Items on site:</label>
                <select name="on_site" id="on_site">
                    <option value=5>5</option>
                    <option value=10>10</option>
                    <option value=25>25</option>
                </select>

                <button>Apply</button>

                {% if authors %}                    
                    <div class="authors">
                        <ul>
                        {% for author in authors %}
                            <li>
                                <a href="#" id="author_link" title="{{ author }}">{{ author }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </form>
        </div>
        <section class="results">
            <span class="summary">Search phrase: <span class="text_bold" id="title_string">"{{ fields.title }}"</span> 
            {% if fields.author %}
                by <span class="text_bold" id="author_string">"{{ fields.author }}"</span>
            {% endif %}           
            in set of <span class="text_bold">{{ fields.filters }}</span> has given <span class="text_bold">{{ number_of_results }}</span> results.</span>

            {% for result in results %}
                <div class="single_result">
                    <div class="result_no">{{ forloop.counter|add:start_loop }}.
                        {% if result.type is 1 %}
                            <i class="fas fa-book-open" title="Book"></i>
                        {% elif result.type is 2 %}
                            <i class="fas fa-film" title="Movie/Film"></i>
                        {% elif result.type is 3 %}
                            <i class="fas fa-compact-disc" title="Sound recording"></i>
                        {% endif %}
                        {% if user.is_staff is False and user.is_authenticated and result.availability != "Not available" %}
                            <input type="checkbox" autocomplete="off" class="add_to_cart" title="Add to order list" data-item="{{ result.type }}-{{ result.id }}">
                        {% endif %}
                    </div>
                
                        <div class="item_info"> 
                            <ul>
                                <li><span class="text_bold">ID: </span>{{ result.id }}</li>
                                <li><span class="text_bold">Title: </span>{{ result.title }}</li>
                                <li><span class="text_bold">Full title: </span>{{ result.full_title }}</li>
                                {% if result.author %}<li><span class="text_bold">Author: </span>{{ result.author }}</li>{% endif %}                                
                                {% if result.director %}<li><span class="text_bold">Director: </span>{{ result.director }}</li>{% endif %}
                                {% if result.screenwriter %}<li><span class="text_bold">Screenwriter: </span>{{ result.screenwriter }}</li>{% endif %}
                                {% if result.cast %}<li><span class="text_bold">Cast: </span>{{ result.cast }}</li>{% endif %}   
                                <li><span class="text_bold">Publication year: </span>{{ result.pub_year }}</li>
                                {% if result.publisher %}<li><span class="text_bold">Publisher: </span>{{ result.publisher }}</li>{% endif %}
                                {% if result.isbn %}<li><span class="text_bold">ISBN: </span>{{ result.isbn }}</li>{% endif %}
                                <li><span class="text_bold">Description: </span>{{ result.description }}</li>
                                <li><span class="text_bold">Condition: </span>{{ result.condition }}</li>
                                <li><span class="text_bold">Availability: </span>
                                {% if result.availability == 'Not available' %}
                                    <span class="text_bold" style="color: rgb(211, 0, 0);">
                                {% else %}
                                <span class="text_bold green">
                                {% endif %}
                                    {{ result.availability }} 
                                    {% if result.due_date %}
                                        (Borrowed until: {{ result.due_date }})
                                    {% endif %}
                                    
                                </span></li>                                
                            </ul>
                        </div>

                    <div class="cover" onclick="show_pop_up(`{{ result.title }}`, `{{ result.cover }}`);">
                        <img class="image" src="{{ result.cover }}">
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
            {% endfor %}
            
           
                {% if results %}
                    <nav class="page_buttons">
                        <a href="#" class="button_a" id="button_first" title="1"><div class="page_button"><i class="fas fa-angle-double-left"></i></div></a>
                        {% for n in pages %}
                            {% if n is results.number %}
                                <a href="#" class="button_a"><div class="page_button active">{{ n }}</div></a>
                            {% else %}
                                <a href="#" class="button_a"><div class="page_button">{{ n }}</div></a>
                            {% endif %}
                        {% endfor %}
                        <a href="#" class="button_a" id="button_last" title="{{ last_page }}"><div class="page_button"><i class="fas fa-angle-double-right"></i></div></a>
                    </nav>
                {% endif %}

        </section>
    </main>
    <div id="overlay">
    </div>
    <div id="cover_pop_up">
        <div class="pop_up_header">
            <p id="pop_up_title"></p><i class="fas fa-times" onclick="hide_pop_up();"></i>
        </div>
        
        <img id="pop_up_image" src="#">
    </div>
    
    <a href="{% url 'user_side-cart' %}" title="Proceed to order summary" target="_blanc">
        <div class="cart" >
            <i class="fas fa-shopping-bag"></i> <span id="items_number" class="text_bold">{{ cart_status }}</span> item(s) selected
        </div>
    </a>
    {{ cart_items|json_script:"item_list" }}
    <script type="text/javascript" src="{% static 'user_side/basic_algorithms.js' %}"></script>
    <script type="text/javascript">
        checkbox_controller = new CheckboxController('#item_type');

        /*===========POP UP===============*/
        const overlay = document.getElementById('overlay');
        const pop_up = document.getElementById('cover_pop_up');
        const pop_up_title = document.getElementById('pop_up_title');
        const pop_up_image = document.getElementById('pop_up_image');

        function hide_pop_up(){
            overlay.style.display = 'none';
            pop_up.style.display = 'none';
        }

        function show_pop_up(title, cover){
            pop_up_title.innerHTML = title;
            pop_up_image.src = cover;
            overlay.style.display = 'block';
            pop_up.style.display = 'block';
        }
        /*=================END POP UP=================*/
        /*=========AUTO SCROLL============*/
        function load_at(){
            let posY = document.querySelector('.summary').getBoundingClientRect().top;
            window.scroll(0, posY);
        }
        load_at();
        /*=======END AUTO SCROLL============*/
        /*==========SETTING UP ITEM ON LIST, AUTHOR AND TITLE===============*/
        try{
            const buttons_a = document.querySelectorAll('.button_a');
            const page_buttons = document.querySelectorAll('.page_button');

            for(let i=0; i<buttons_a.length; i++){
            let href = window.location.href.replace(/&page=\d+/, "")
            buttons_a[i].href = href + '&page=' + page_buttons[i].innerHTML;
            }        

            first_button = document.getElementById('button_first');
            first_button.href = window.location.href.replace(/&page=\d+/, "") + "&page=" + '1';
            last_button = document.getElementById('button_last');
            last_button.href = window.location.href.replace(/&page=\d+/, "") + "&page=" + last_button.title;

            author_links = document.querySelectorAll('#author_link');
            author_links.forEach((author_link) => {
                author_link.href = window.location.href.replace(/\?[\W\w]+/, "") + "?author=" + author_link.title.replace(/\s/, "+") + "&book=on&movie=on&sr=on";
            })
        }catch(e){
            e
        }
       
        try{
            const on_site = document.getElementById('on_site');
            on_site.value = document.location.href.match(/on_site=\d+/)[0].match(/\d+/)[0];
        }catch(e){
            e
        }

        try{
            const title_bar=document.querySelector("input[name='title']");
            title_bar.value = document.getElementById('title_string').innerHTML.match(/[\wąężźćłóń\s]+/)[0];
        }catch(e){
            e
        }
        
        try{
            const author_bar=document.querySelector("input[name='author");
            author_bar.value=document.getElementById('author_string').innerHTML.match(/[\wąężźćłóń\s]+/)[0];
        }catch(e){
            e
        }
        /*=======END SETTING UP ITEM ON LIST, AUTHOR AND TITLE===============*/
        /*=======GETTING CSRF TOKEN=======================*/
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        /*===========END GETTING CSRF TOKEN==============*/
        
        const add_to_cart = document.querySelectorAll('.add_to_cart');
        const cart_status = document.getElementById('items_number').innerHTML;
        const cart = document.querySelector('.cart');
        const items_number = document.getElementById('items_number');
        const url = '/update-item/';
        var cart_items = JSON.parse(document.getElementById('item_list').textContent);
        console.log(cart_items);

        function initiate_cart(){            
            if (parseInt(cart_status) > 0){
                cart.style.transform = 'scale(1)';
            }else{
                cart.style.transform = 'scale(0)';
            }
        }

        function update_cart(number){
            items_number.innerHTML = number;
            if(number > 0){
                cart.style.transform = 'scale(1)';
            }else{
                cart.style.transform = 'scale(0)';
            }
        }

        function update_user_order(item, action){
            fetch(url, {
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({'productID': item, 'action':action})
            }).then((response) =>{
                return response.json()
            }).then((data) => {
                update_cart(data.length);
                console.log(data);
            })
        }

        for(let i=0; i< add_to_cart.length; i++){
            if(cart_items.includes(add_to_cart[i].dataset.item)){
                add_to_cart[i].checked = true;
            }

            add_to_cart[i].addEventListener('click', function(){
                if (this.checked){
                    update_user_order(add_to_cart[i].dataset.item, 1)
                }else{
                    update_user_order(add_to_cart[i].dataset.item, 2)
                }
            })
        }

        initiate_cart();
    </script>
{% endblock content %}