{% extends 'user_side/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'user_side/css/search.css' %}" media="screen"> {% endblock styles %}
{% block scripts %}
    <script type="text/javascript">
        //================POP UP=================
        function show_item_pop_up(pop_up_name){
            const div_pop_up = document.getElementById(pop_up_name);
            const div_overlay = document.getElementById("overlay");
            div_pop_up.style.display = 'block';
            div_overlay.style.display = 'block';
        }

        function close_pop_up(pop_up_name){
            const div_pop_up = document.getElementById(pop_up_name);
            const div_overlay = document.getElementById("overlay");
            div_pop_up.style.display = 'none';
            div_overlay.style.display = 'none';
        }
        //================END POP UP=================

        //================CHECKBOXES CONTROL=================
        var item_types;
        var item_length;
        var isAllSelected = true;

        function findCheckboxes(){
            item_types = document.querySelectorAll('[name="item_type"]');
            item_length = item_types.length;
            selectAll();
        }

        
        function selectAll(){                
            item_types.forEach(function(item){
                item.checked = true;
            })
        }

        function deselectAll(){
            item_types[0].checked = true;

            for(var i = 1; i<item_length; i++){
                item_types[i].checked = false;
            }
        }

        function select_deselect(){
            if(isAllSelected){
                deselectAll();
                isAllSelected = !isAllSelected;
            }else{
                selectAll();
                isAllSelected = !isAllSelected;
            }
        }

        function update_checkbox(){
            var checked_counter = 0;

            for(var i=0; i<item_length - 1; i++){
                if(item_types[i].checked === true ){
                    checked_counter++;
                }
            }
            switch(checked_counter){
                case 5:{
                    item_types[item_length - 1].checked = true; break;
                }
                case 0:{
                    item_types[0].checked = true; break;
                }
                default:{
                    item_types[item_length-1].checked = false;
                }
                
            }
        }
        //================END CHECKBOXES CONTROL=================
        window.onload = findCheckboxes            
    </script>
{% endblock scripts %}
{% block content %}
    {{ results }}
{% endblock content %}