/* Konrad Maciejczyk, 2021-2022 */
@import 'defaults.scss';
$user_op_background: #194871;
$item_op_background: #A76C28;
$borrows_op_background: #961750;
$catalog_search_background: #006E63;
$op_status_background_color: rgba(25, 113, 43, 0.8);

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@include _header;

.op_status{
    box-sizing: border-box;
    color: $main-font-color-light;
    width: 800px;
    text-align: center;
    margin: 10px auto 10px auto;
    background-color: $op_status_background_color;
    padding: 10px 0 10px 0;
    border: 2px solid $user_op_background;
    border-radius: 3px;
}

main{
    margin: 50px auto 0 auto;
    width: 800px;
    display: grid;
    grid-template-areas: "search search search"
                         "user1 user2 user3"
                         "item1 item2 item3"
                         "borrow1 borrow2 borrow3";

    column-gap: 10px; row-gap: 20px;
}

.notification{
    position: absolute;
    right: 10px;
    background-color: rgb(220, 0, 0);
    border: 2px solid white;
    width: 30px; height: 30px;
    border-radius: 50%;
    vertical-align: middle; line-height: 30px;
    font-weight: 700;
}

.option_box{    
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    transition: filter .4s;

    &:hover{
        cursor: pointer;
        filter: brightness(130%);
    }

    a{
        padding: 10px; 
        box-sizing: border-box;
        display: block;
        width: 100%; height: 100%;
    }
    a:hover{
        color: $main-font-color-light;
    }
}

.option_box.borrows:nth-of-type(8){
    position: relative;
}

.option_box.search{
    grid-area: search;
    background-color: $catalog_search_background;

    i{
        font-size: 50px;
        margin: 20px 0 10px 10px;
    }

    &:hover{
        @include shadow($catalog_search_background);
    }
}

.option_box.user{
    background-color: $user_op_background;

    i{
        margin: 20px 0 10px 10px;
        font-size: 50px;
    }

    &:hover{
        @include shadow($user_op_background)
    }
}

.option_box.item{
    background-color: $item_op_background;

    i{
        margin: 20px 0 10px 10px;
        font-size: 50px;
    }

    &:hover{
        @include shadow($item_op_background)
    }
}

.option_box.borrows{
    background-color: $borrows_op_background;

    i{
        margin: 20px 0 10px 10px;
        font-size: 50px;
    }

    &:hover{
        @include shadow($borrows_op_background)
    }
}

footer{
    margin-top: auto;
    background-color: $main-blue;
    text-align: center;
    font-size: 12px;
    height: 30px;
    vertical-align: middle; line-height: 30px;
}