@use "sass:math";
@import 'defaults.scss';

$input_margin_left: 340px;
$text_input_width: 300px;
$form_background_color: white;
$sign_color: $main_blue;
$label_color: $main_blue;

@include _header;

@function add_pixels($a, $b){
    @return ($a + $b);
}

input[onblur]{
    border: 0;
    border-bottom: 2px solid silver;
    transition: border-bottom .5s;
    width: $text_input_width;
    padding-bottom: 2px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    
    &:focus{
        border-bottom: 2px solid $main_blue;
    }
}

.single_input:nth-of-type(6){
    input, select{
        border-bottom: 2px solid silver;
        transition: border-bottom .5s;
        width: math.div($text-input-width, 2px) - 1px;

        &:focus{
            border-bottom: 2px solid $main_blue;            
        }
    }
}

label{
    font-size: 14px;
}
select{
    width: 300px;
}

main{
    box-sizing: border-box;
    width: 800px; height: 820px;
    background-color: $form_background_color;
    margin: 50px auto 50px auto;
    padding: 25px 75px 30px 75px;
    @include shadow($main_blue);
    border-radius: 10px;
}

p{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 100; font-size: 50px;
    margin-bottom: 20px;
    color: $sign_color;
}

.single_input{
    width: 100%; height: 50px;
    margin-top: 10px;
    font-size: 20px;
    color: black;
    margin-left: auto; margin-right: auto;
}

.input_label{
    display: inline-block;
    width: $input_margin_left;
    color: $label_color;
}

.status_note{
    display: block;
    font-size: 10px;
    margin: 5px 0px 0px add_pixels($input_margin_left, 10px);
    color: black;
}



@include text_inputs;