/* Konrad Maciejczyk, 2021-2022 */
$background-image: url(../img/background_light.png);
$main-blue: #194973; 
$main-green: rgb(49, 101, 90); 
$main-red: #EF5D24;
$main-yellow: #F8D872;
$main-font-color: #202321;
$main-font-color-light: white;
$checkbox-checked-color: #F8D872;
$item-background: #eeffd7;
$op_success_background: #10b346;
$op_error_background: #b31010;

* {
    margin: 0px; padding: 0px;
}

::selection{
    background-color: $main-blue;
    color: $main-font-color-light;
}

html, body{
    background-color: #e6f0f5;
    color: $main-font-color-light;
    background: $background-image;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: $main-font-color-light;
    transition: color .4s;

    &:link{
        @extend a;
    }
    &:visited{
        @extend a;
    }
    &:hover{
        @extend a;
        color: $main-yellow;
    }
    &:active{
        @extend a;
    }
}

input[type="submit"]{
    border: 0px;
    background-color: $item-background;
    transition: background-color .4s, color .4s;

    &:hover{
        background-color: $main-yellow;
        color: $main-blue
    }
    
}

input[type="email"], input[type="password"]{
    border: 0px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 10px;
}

.op_status{
    box-sizing: border-box;
    color: $main-font-color-light;
    width: 800px;
    text-align: center;
    margin: 10px auto 10px auto;
    padding: 10px 0 10px 0;
    border-radius: 3px;

    i{
        margin-right: 20px;
    }
}

.op_status.success{
    background-color: $op_success_background;
    border: 2px solid darken($op_success_background, 10%);
}

.op_status.error{
    background-color: $op_error_background;
    border: 2px solid darken($op_error_background, 10%);
}

@mixin _header{
    header{
        position: relative;
        background-color: $main-green;
        height: 120px; width: 100vw;
    }
        
    #logo{
        box-sizing: border-box;
        position: absolute;
        width: 380px; height: 120px;
        top: 0px; left: 0px;
        padding: 10px;
        font-size: 27px; font-weight: 300;
        float:left;    
    
        img{
            margin-right: 10px;
            width: 100px; height: 100px;        
            float:left;
        }

        a:hover{
            color: white;
        }
    }
    
    #logging{
        position: absolute;
        top: 20%; right: 2%;
        box-sizing: border-box;
        font-weight: 300;
    
        #user_status{
            display: block;
            font-weight: 100; font-size: 20px;
            
        }
    
        #log_in_button{
            float: right; 
            text-align: right;
            transition: color, .4s;
            margin-top: 10px;        
    
            &:hover{
                color: $main-yellow;
                cursor: pointer;
            }
        }
    }
}

@mixin text_inputs{
        /* For styling placeholders and on focus in text inputs*/
    input[type='text'], input[type='tel'], input[type='email'], input[type="date"], input[list]::-webkit-input-placeholder { 
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    input[type='text'], input[type='tel'], input[type='email'], input[type="date"], input[list]:-moz-placeholder  { /*Firefox < 19*/
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    input[type='text'], input[type='tel'], input[type='email'], input[type="date"], input[list]::-moz-placeholder { /*Firefox > 19*/
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    input[type='text'], input[type='tel'], input[type='email'], input[type="date"], input[list]:-ms-input-placeholder { /*Internet Explorer 10*/
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    input[type='text'], input[type='tel'], input[type='email'], input[type="date"], input[list]:focus{
        font-family: 'Roboto', sans-serif;
        outline: none;
    }
    /* For styling placeholders and on focus in password inputs*/
    input[type='password']:focus{
        font-family: 'Roboto', sans-serif;
        outline: none;
    }
    input[type='password']::-webkit-input-placeholder { 
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    input[type='password']:-moz-placeholder  { /*Firefox < 19*/
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    input[type='password']::-moz-placeholder { /*Firefox > 19*/
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    input[type='password']:-ms-input-placeholder { /*Internet Explorer 10*/
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
}

@mixin shadow($color){
    -webkit-box-shadow: 0px 0px 30px -10px $color;
    -moz-box-shadow: 0px 0px 30px -10px $color;
    box-shadow: 0px 0px 30px -10px $color;
}