@import 'defaults.scss';
$font-color: rgb(66, 66, 66);
$checkbox_size: 15px;
@include _header;

main{
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 100px;
    width: 70vw; min-height:100px;
    background-color: white;
    margin: 50px auto 0px auto;
}

.text_bold{
    font-weight: 500;
}

h1{
    text-align: center;
    color: rgb(61, 61, 61);
    font-weight: 300;
}

.single_result{
    box-sizing: border-box;
    width: 95%; min-height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin: 15px auto 0px auto;
    display: flex;
    color: $font-color;
}

.result_no{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;


    i{
        display: block;
        text-align: center;
        margin-top: 10px;
        flex-grow: 0; flex-shrink: 0; flex-basis: 10%;
    }

    .add_to_cart{
        display: block;
        border-radius: 50%;
    }
}
.item_info{
    padding: 10px;
    flex-grow: 1;

    a{
        color: $font-color;
        text-decoration: underline;
    }  
}

.green{
    color:rgb(72, 214, 36);
}
input[type="checkbox"]{
    border: 1px solid $main-green;
    width: $checkbox_size; height: $checkbox_size;
    margin-top: 50px;
    &:checked{
        background-color: $main-green;
    }
}

#buttons{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button{
    background-color: $main-green;
    border: none;
    width: 180px; height: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
    display: block;
    font-weight: 300;
    flex-basis: .5; flex-grow: 0;

    &:hover{
        cursor: pointer;
        filter: brightness(120%);
        @include shadow($main-green);
    }
}

#go_back{
    box-sizing: border-box;
    flex-basis: .5; flex-grow: 0;
    color: $main-green;
    margin-right: 20px;
    height: 40px; width: 180px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid $main-green;
    vertical-align: middle; line-height: 36px;
    transition: background-color .4s;

    &:hover{
        background-color: $main-green;
        color:white;
    }
}
.order_warning{
    color: rgb(148, 23, 23);
    opacity: 0;
    transition: opacity .2s;
}

.cover{
    flex-basis: 100px; flex-shrink: 0; flex-grow: 0;
    margin: 10px 20px 10px 0px;
    align-items: center;
    transition: color .4s;
    color: rgba(255, 255, 255, 0);
    position: relative;

    i{
        font-size: 50px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        
        
    }
    
    &:hover{
        color: rgba(255, 255, 255, 1);
        
        cursor: pointer;
    }
}

.image{
    display: block;
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

p{
    text-align: center;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
    color: $font-color;
}

#cover_pop_up{
    width:400px; min-height: 300px;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: darkgray;
    border-radius: 3px;
    display: none;

    img{
        display: block;
        margin: 0px auto 35px auto;
        border: 1px solid lightgray;
    }
}

.pop_up_header{
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    z-index: 2;

    p{
        font-size: 20px;
        margin: 0;
        text-align: left;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    i{
        text-align: center;
        vertical-align: middle; line-height: 25px;
        transition: color .4s;

        &:hover{
            cursor: pointer;
            color: black;
        }
    }
}

#overlay{
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
}

@media (max-width: 900px) and (min-width : 601px){
    main{
        width: 100vw;
    }
}

@media (max-width: 600px){
    #cover_pop_up{
        width: 95vw; min-height: 25vh;
 
         img{
             width: 70%;
         }
    }
    h1{
        font-size: 20px;
    }
    #buttons{
        flex-direction: column;
    }
    #go_back{
        margin-right: 0;
    }
    button{
        margin-top: 10px;
        margin-left: 0;
    }
    p{
        font-size: 14px;
        margin-right: 0;
    }
    .cart{
        width: 120px; height: 30px;
        font-size: 12px;
        line-height: 30px;
    }
    #cover_pop_up{
       width: 95vw; min-height: 25vh;

        img{
            width: 70%;
        }
    }

    main{
        flex-direction: column;
        width: 100vw;
        margin-top: 0;
    }

    input[type="text"]{
        height: 25px;
    }

    .results{
        width: 100%;
    }

    .single_result{
        margin-bottom: 10px;
    }

    .item_info{
        font-size: 10px;
    }

    label[for]{
        margin-left: 22px;
        width: 70px;
    }


    .filter{
        width: 100%;
        padding: 20px 10px 10px 10px;
    }

    label{
        font-size: 10px;

        input[type="checkbox"]{
            width: 10px; height: 10px;
        }
    }

    .summary{
        font-size: 10px;
        margin: 0px 0px 5px 0px;
    }

    .cover{
        flex-basis: 50px;

        i{
            top: 40%;
            font-size: 25px;
        }
    }

    .image{
        width: 50px;
        top: 40%;
        transform: translateY(-50%);
    }

    header{
        height: 60px;
    }        

    #logo{
        height: 60px; width: 130px;
        padding: 5px;
        font-size: 13px;

        img{
            margin-right: 1vw;
            width: 50px; height: 50px;
        }
    }

    #logging{
        height: 50px; min-width: 10%;
        margin-right: 2%;            

        #user_status{
            display: block;
            font-size: 10px; 
            font-weight: 100;
            width: 100%;
            text-align: right;      
        }

        #log_in_button{
            width: 80px; height: 29px;
            font-size: 16px;
            margin-top: 5px;
            transition: color, .4s;

            &:hover{
                color: $main-yellow;
                cursor: pointer;
            }
        }
    }
} 