@import 'defaults.scss';

@include _header;

h1{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 40px 0px 0px 40px;
}

h1:nth-of-type(2){
    margin-top: 60px;
}

main{
    width: 70vw; min-height: 600px;
    background-color: white;
    margin: 50px auto 0px auto;
    padding-bottom: 100px;
}

nav{    
    font-size: 30px; text-align: center;
    display: flex;

    width: 100%;
}

.nav_tab{
    box-sizing: border-box;
    background-color: $main-green;
    padding: 10px;
    flex-basis: 50%; flex-shrink: 0; flex-grow: 0;
    transition: filter .3s;

    &:hover{
        cursor: pointer;
        filter: brightness(120%);
    }
}
.active{
    color: $main-green;
    font-size: 500;
    background-color: white;

    &:hover{
        filter: brightness(100%);
        cursor: auto;
    }
}

ul{
    color: black;
    list-style: none;
    font-size: 20px;
    margin: 20px 0px 0px 40px;
}

li{
    display: flex;
    margin: 0px 0px 15px 0px;
}

.info_label{
    display: inline-block;
    font-weight: 500;
    width: 350px;
}

.edit_button{
    display: inline-block;
    background-color: $main-green;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 3px;
    margin: 2px 0px 0px 10px;

    &:hover{
        cursor: pointer;
        filter: brightness(120%);
    }
}

input[type="text"]{
    border: 0;
    border-bottom: 2px solid silver;
    transition: border-bottom .5s;
    width: 350px;
    padding-bottom: 2px;
    padding-left: 1px;
    display: inline-block;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    
    &:focus{
        border-bottom: 2px solid $main-green;
    }
}

button{
    display: block;
    width: 80px; height: 35px;
    border: 0;
    float: right;
    margin-right: 50px;
    background-color: $main-green;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    visibility: hidden;

    &:hover{
        cursor: pointer;
        filter: brightness(120%);
    }
}
#user_borrows{
    display: none;
    color: black;
}

table{
    margin: 40px auto 0px auto;
    width: 90%;
    border-spacing: 0;
    border-radius: 5px 5px 0px 0xp;
    border-bottom: 3px solid $main-green;
}

th{
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
    padding: 10px;
    color:white;
    background-color: $main-green;
}

td{
    padding: 5px 5px 5px 10px;
}
td:last-child{
    border-right: 0;
}

tr:nth-of-type(odd){
    background-color: rgb(218, 218, 218);    
}
table tr td ul{
    margin: 0;
}
table tr td ul li{
    margin: 0 0 0 0;
    font-size: 15px;
}
#message{
    visibility: hidden;
}

@include text_inputs;
