/* Konrad Maciejczyk, 2021 */
@import './defaults.scss';

$border-color: $main-green;
$search_summary_color: rgba(49, 101, 90, .7);
$checkbox_size: 15px;
$label_font_size: 14px;
$main-blue: #194973; 

@include _header;

main{
    width: 90vw;
    margin: 10px auto 200px auto;
    color: black;
    display: flex;
    align-items:flex-start;
}

.filter{
    box-sizing: border-box;
    min-height: 300px;
    flex-grow: 0; flex-shrink: 0;
    background-color: white;
    margin-right: 20px;
    display: inline-block;
    padding: 30px 30px 30px 30px;
    border: 1px solid #e6e6e6;

}

.results{
    min-height: 200px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    flex-grow: 1;

    p{
        margin: 20px 0px 0px 0px;
        background-color:rgba(0, 0, 0, .2);
        font-size: 25px;
        padding: 10px;
    }
}

.page_buttons{
    margin-top: 20px;
    width: 100%; height: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.page_button{
    margin-right: 5px;
    width: 45px; height: 45px;
    background-color: $main-green;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle; line-height: 45px;
    display: inline-block;
    transition: filter .4s;
    

    &:hover{
        cursor: pointer;
        filter: brightness(120%);
    }
}

.page_button.active{
    background-color: $main-blue;
}

.authors{
    border-top: 1px solid lightgray;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 13px;

    a{
        color: black;
        text-decoration: underline;
    }


    & ul{
        list-style-type: none;

        li{
           margin-top: 5px;  
        }
    }
}

.summary{
    box-sizing: border-box;
    display: block;
    background-color:rgba(49, 101, 90, 1);
    padding: 5px;
    color: white;
    
}
.text_bold{
    font-weight: 500;
}

input[type="text"]{
    border: 0;
    border-bottom: 2px solid silver;
    transition: border-bottom .5s;
    width: 90%;
    padding-bottom: 2px;
    margin: 0px auto 20px auto;
    display: block;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    
    &:focus{
        border-bottom: 2px solid $main-green;
    }
}

input[type="checkbox"]{
    border: 1px solid $main-green;
    width: $checkbox_size; height: $checkbox_size;
    margin-top: 1px;
    &:checked{
        background-color: $main-green;
    }
}
label{
    display: block;
    white-space: pre-wrap;
    font-size: $label_font_size;
    margin-bottom: 5px;
    width: 170px;
}

#not_available{
    margin-top: 20px;
}

button{
    border: none;
    display: block;
    margin: 10px auto 10px auto;
    background-color: $main-green;
    color: white;
    width: 80px; height: 30px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;


    &:hover{
        cursor: pointer;
        @include shadow($main-green);
        filter: brightness(120%);
    }
}

.single_result{
    box-sizing: border-box;
    width: 95%; min-height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin: 15px auto 0px auto;
    display: flex;
    color: rgb(61, 61, 61);
}

.result_no{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;


    i{
        display: block;
        text-align: center;
        margin-top: 10px;
        flex-grow: 0; flex-shrink: 0; flex-basis: 30%;
    }

    .add_to_cart{
        display: block;
        border-radius: 50%;
    }
}
.item_info{
    padding: 10px;
    flex-grow: 1;

    a{
        color: rgb(61, 61, 61);
        text-decoration: underline;
    }  
}

.cover{
    min-width: 100px;
    margin: 10px 20px 10px 0px;
    align-items: center;
    transition: color .4s;
    color: rgba(255, 255, 255, 0);
    position: relative;
    height: 200px;

    i{
        font-size: 50px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        
        
    }
    
    &:hover{
        color: rgba(255, 255, 255, 1);
        
        cursor: pointer;
    }
}

#cover_pop_up{
    width:400px; min-height: 300px;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: darkgray;
    border-radius: 3px;
    display: none;

    img{
        display: block;
        margin: 0px auto 35px auto;
        border: 1px solid lightgray;
    }
}

.pop_up_header{
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    z-index: 2;

    p{
        font-size: 20px;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    i{
        text-align: center;
        vertical-align: middle; line-height: 25px;
        transition: color .4s;

        &:hover{
            cursor: pointer;
            color: black;
        }
    }
}

#overlay{
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
}

#on_site{
    display: inline-block;
    background-color: white;
    outline-color: $main-green;
    border-color: $main-green;
}
label[for]{
    margin: 5px 0px 20px 26px;
    width: 90px;
    display: inline-block;
}


ul{
    margin-left: 10px;
}

.image{
    display: block;
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.order_item{
    float: right;
    margin-right: 40px;
    margin-top:0px;
}
.green{
    color:rgb(72, 214, 36);
}

@media screen and (max-width:900px) and (min-width:601px){
    main{
        flex-direction: column;
    }

    .filter{
        width: 100%;
    }
}

.cart{
    top: auto; 
    bottom: 5vh; left: 5vw;
    width: 160px; height: 50px;
    
}



@media (max-width: 600px){
    .cart{
        width: 120px; height: 30px;
        font-size: 12px;
        line-height: 30px;
    }
    #cover_pop_up{
       width: 95vw; min-height: 25vh;

        img{
            width: 70%;
        }
    }

    main{
        flex-direction: column;
        width: 100vw;
        margin-top: 0;
    }

    input[type="text"]{
        height: 25px;
    }

    .results{
        width: 100%;
    }

    .single_result{
        margin-bottom: 10px;
    }

    .item_info{
        font-size: 10px;
    }

    label[for]{
        margin-left: 22px;
        width: 70px;
    }


    .filter{
        width: 100%;
        padding: 20px 10px 10px 10px;
    }

    label{
        font-size: 10px;

        input[type="checkbox"]{
            width: 10px; height: 10px;
        }
    }

    .summary{
        font-size: 10px;
        margin: 0px 0px 5px 0px;
    }

    .cover{
        min-width: 50px;

        i{
            top: 40%;
            font-size: 25px;
        }
    }

    .image{
        width: 50px;
        top: 40%;
        transform: translateY(-50%);
    }

    header{
        height: 60px;
    }        

    #logo{
        height: 60px; width: 130px;
        padding: 5px;
        font-size: 13px;

        img{
            margin-right: 1vw;
            width: 50px; height: 50px;
        }
    }

    #logging{
        height: 50px; min-width: 10%;
        margin-right: 2%;            

        #user_status{
            display: block;
            font-size: 10px; 
            font-weight: 100;
            width: 100%;
            text-align: right;      
        }

        #log_in_button{
            width: 80px; height: 29px;
            font-size: 16px;
            margin-top: 5px;
            transition: color, .4s;

            &:hover{
                color: $main-yellow;
                cursor: pointer;
            }
        }
    }
} 

@include text_inputs;

    

