/* Konrad Maciejczyk, 2021 */
/* Konrad Maciejczyk, 2021-2022 */
* {
  margin: 0px;
  padding: 0px;
}

::selection {
  background-color: #194973;
  color: white;
}

html, body {
  background-color: #e6f0f5;
  color: white;
  background: url(../img/background_light.png);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
  color: white;
  transition: color 0.4s;
}
a:hover {
  color: #F8D872;
}
input[type=submit] {
  border: 0px;
  background-color: white;
  transition: background-color 0.4s, color 0.4s;
}
input[type=submit]:hover {
  background-color: #F8D872;
  color: #194973;
}

input[type=email], input[type=password] {
  border: 0px;
  background-color: white;
  box-sizing: border-box;
  padding-left: 10px;
}

.op_status {
  box-sizing: border-box;
  color: white;
  width: 800px;
  text-align: center;
  margin: 10px auto 10px auto;
  padding: 10px 0 10px 0;
  border-radius: 3px;
}
.op_status i {
  margin-right: 20px;
}

.op_status.success {
  background-color: #10b346;
  border: 2px solid #0c8434;
}

.op_status.error {
  background-color: #b31010;
  border: 2px solid #840c0c;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  background-color: #31655a;
  height: 120px;
  width: 100vw;
}

#logo {
  box-sizing: border-box;
  position: absolute;
  width: 380px;
  height: 120px;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 27px;
  font-weight: 300;
  float: left;
}
#logo img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  float: left;
}
#logo a:hover {
  color: white;
}

#logging {
  position: absolute;
  top: 20%;
  right: 2%;
  box-sizing: border-box;
  font-weight: 300;
}
#logging #user_status {
  display: block;
  font-weight: 100;
  font-size: 20px;
}
#logging #log_in_button {
  float: right;
  text-align: right;
  transition: color, 0.4s;
  margin-top: 10px;
}
#logging #log_in_button:hover {
  color: #F8D872;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin: 50px auto 0px auto;
  background-color: #10b346;
  border: 2px solid #0c8434;
  min-height: 50px;
  width: 1000px;
  vertical-align: middle;
  line-height: 50px;
}

main {
  width: 100vw;
}
main #box_logging {
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 370px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  background-color: #194973;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px -10px #194973;
  -moz-box-shadow: 0px 0px 30px -10px #194973;
  box-shadow: 0px 0px 30px -10px #194973;
  padding-top: 50px;
}
main #box_logging #log_in_sign {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}
main #box_logging input[type=email] {
  display: block;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
main #box_logging input[type=password] {
  display: block;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
main #box_logging input[type=submit] {
  float: right;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.4s, color 0.4s;
  margin: 10px 100px 0px 0px;
}
main #box_logging input[type=submit]:hover {
  cursor: pointer;
  color: #194973;
  background-color: #F8D872;
}
main #box_logging #request_password {
  float: left;
  margin: 10px auto 10px 100px;
  width: 250px;
  color: white;
  transition: color 0.4s;
}
main #box_logging #request_password:hover {
  cursor: pointer;
  color: #F8D872;
}
main #box_request_password {
  box-sizing: border-box;
  width: 500px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  background-color: #194973;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px -10px #194973;
  -moz-box-shadow: 0px 0px 30px -10px #194973;
  box-shadow: 0px 0px 30px -10px #194973;
  padding-top: 50px;
}
main #box_request_password #request_sign {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}
main #box_request_password input[type=email] {
  display: block;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
main #box_request_password #go_back {
  float: left;
  margin: 20px 0px 20px 100px;
}
main #box_request_password #go_back:hover {
  transition: color 0.4s;
}
main #box_request_password #go_back:hover:hover {
  cursor: pointer;
  color: #F8D872;
}
main #box_request_password input[type=submit] {
  float: right;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin: 10px 100px 0px 0px;
  font-size: 15px;
  transition: background-color 0.4s, color 0.4s;
}
main #box_request_password input[type=submit]:hover {
  cursor: pointer;
  color: #194973;
  background-color: #F8D872;
}

#password_note {
  margin: 5px 0px 10px 100px;
  font-size: 12px;
}

#password_reset_submit {
  margin-top: 50px;
}

#go_to_login {
  display: block;
  background-color: #31655a;
  color: white;
  margin: 50px auto 0px auto;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.4s;
}
#go_to_login:hover {
  cursor: pointer;
  background-color: #194973;
}

.error {
  display: block;
  background-color: #b31010;
  padding: 5px;
  margin: 10px auto 0px auto;
  max-width: 85vw;
  border-radius: 3px;
  text-align: center;
}

footer {
  margin-top: auto;
  background-color: #31655a;
  text-align: center;
  font-size: 12px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}

@media (max-width: 600px) {
  header {
    height: 60px;
  }

  #logo {
    height: 60px;
    width: 130px;
    padding: 5px;
    font-size: 13px;
  }
  #logo img {
    margin-right: 1vw;
    width: 50px;
    height: 50px;
  }

  #logging {
    height: 50px;
    min-width: 10%;
    margin-right: 2%;
  }
  #logging #user_status {
    display: block;
    font-size: 10px;
    font-weight: 100;
  }
  #logging #log_in_button {
    width: 80px;
    height: 59px;
    font-size: 16px;
    margin-top: 5px;
    transition: color, 0.4s;
  }
  #logging #log_in_button:hover {
    color: #F8D872;
    cursor: pointer;
  }

  h1 {
    display: block;
    width: 100vw;
    min-height: 80px;
    font-size: 20px;
  }

  #password_note {
    margin: 5px 0px 10px 8vw;
    font-size: 12px;
  }

  main #box_logging {
    margin-top: 5vh;
    width: 85vw;
  }
  main #box_logging input[type=email] {
    width: 85%;
    height: 35px;
  }
  main #box_logging input[type=password] {
    width: 85%;
    height: 35px;
  }
  main #box_logging input[type=submit] {
    margin-right: 8%;
    width: 80px;
  }
  main #box_logging #request_password {
    margin: 10px 0px 0px 8%;
  }
  main #box_request_password {
    margin-top: 5vh;
    width: 85vw;
  }
  main #box_request_password #request_sign {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
  }
  main #box_request_password input[type=email] {
    width: 85%;
    height: 35px;
  }
  main #box_request_password input[type=submit] {
    margin: 10px 8% 0px 25px;
    width: 175px;
  }
  main #box_request_password #go_back {
    margin: 20px 0px 0px 25px;
  }
}
/* For styling placeholders and on focus in text inputs*/
input[type=text], input[type=tel], input[type=email], input[type=date], input[list]::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=email], input[type=date], input[list]:-moz-placeholder {
  /*Firefox < 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=email], input[type=date], input[list]::-moz-placeholder {
  /*Firefox > 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=email], input[type=date], input[list]:-ms-input-placeholder {
  /*Internet Explorer 10*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=text], input[type=tel], input[type=email], input[type=date], input[list]:focus {
  font-family: "Roboto", sans-serif;
  outline: none;
}

/* For styling placeholders and on focus in password inputs*/
input[type=password]:focus {
  font-family: "Roboto", sans-serif;
  outline: none;
}

input[type=password]::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]:-moz-placeholder {
  /*Firefox < 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]::-moz-placeholder {
  /*Firefox > 19*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input[type=password]:-ms-input-placeholder {
  /*Internet Explorer 10*/
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}